<div class="dia-row">
    <div class="card dia-6 bg-light-green" >
        <div class="card-heading" style="color: black;">
            <span>{{ dashboard.card.total_user.title}}</span>
            
        </div>
        <div class="card-body">
            <div class="card-body-icon card-icon-user">
            </div>
            <div class="card-body-title">
                53
            </div>
        </div>
        <div class="card-footer">
            <span class="text-danger">{{ dashboard.card.total_user.unit}}</span>
        </div>
    </div>

    <div class="card dia-6 bg-orange" >
        
        <div class="card-heading" style="color: black;">
            <span>{{ dashboard.card.total_question.title}}</span>
            
        </div>
        <div class="card-body">
            <div class="card-body-icon card-icon-question"></div>
            <div class="card-body-title">
                70
            </div>
        </div>
        <div class="card-footer">
            <span class="text-danger">{{ dashboard.card.total_question.unit}}</span>
        </div>
    </div>
    
</div>
<div class="dia-row">
    <div class="panel panel-default dia-12">
        <div class="panel-heading">{{dashboard.report.line.play_questions.title}}</div>
        <div class="panel-body">
            <div id="play_question" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="dia-row">
    <div class="panel panel-default dia-12">
        <div class="panel-heading">{{dashboard.report.line.playtime_summary.title}}</div>
        <div class="panel-body">
            <div id="playtime_summary" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="dia-row">
    <div class="panel panel-default dia-12">
        <div class="panel-heading">{{dashboard.report.line.score_summary.title}}</div>
        <div class="panel-body">
            <div id="score_summary" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="dia-row">
    <div class="panel panel-default dia-6">
        <div class="panel-heading">{{dashboard.report.pie.compare_questions.title}}</div>
        <div class="panel-body">
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="panel panel-default dia-6">
        <div class="panel-heading">{{dashboard.report.line.use_system_back7day.title}}</div>
        <div class="panel-body">
            <div id="line" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(()=>{
        genanrateChart()
        test()
        play_question()
        score_summary()
        playtime_summary()
    })

    function genanrateChart(){
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                type: 'pie',
                backgroundColor: null
            },
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [
                    {
                name: 'Flowchart',
                y: 10

                }, {
                name: 'logic',
                y: 25
                }, {
                name: 'Operrator',
                y: 10

                }]
            }]
            });
    }

    function test(){
        Highcharts.chart('line', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                backgroundColor: null
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },

            subtitle: {
                text: null
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Number of Employees'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointStart: Date.UTC(2010, 0, 1),
                    pointInterval: 24 * 3600 * 1000 // one day
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, ]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
    }

    function play_question(){
        Highcharts.chart('play_question', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                backgroundColor: null
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },

            subtitle: {
                text: null
            },
            xAxis: {
                allowDecimals: false,
                title: {
                    text: 'ข้อ'
                }
            },
            yAxis: {
                title: {
                    text: 'คะแนนเฉลี่ย'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointStart: 1
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, ]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387,11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
    }

    function playtime_summary(){
        Highcharts.chart('playtime_summary', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                backgroundColor: null
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },

            subtitle: {
                text: null
            },
            xAxis: {
                allowDecimals: false,
                title: {
                    text: 'ข้อ'
                }
            },
            yAxis: {
                title: {
                    text: 'คะแนนเฉลี่ย'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointStart: 1
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, ]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387,11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
    }
    
    function score_summary(){
        Highcharts.chart('score_summary', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                backgroundColor: null
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },

            subtitle: {
                text: null
            },
            xAxis: {
                allowDecimals: false,
                title: {
                    text: 'ข้อ'
                }
            },
            yAxis: {
                title: {
                    text: 'คะแนนเฉลี่ย'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointStart: 1
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, ]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387,11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
    }
</script>