<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/diagame.ico">
  <title>{{ general.site.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- {{linklang lang}} -->
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/fonts/font.css" />
  <link rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css" />

  <!-- jquery -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/popper.js/dist/umd/popper.min.js"></script>
  <script src="/javascripts/jquery/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery/jquery.ui.touch-punch.min.js"></script>
  <script src="/javascripts/jquery/jquery.validate.min.js"></script>
  <script src="/javascripts/jquery/additional-methods.min.js"></script>
  <script src="/javascripts/jquery/jquery.blockUI.js"></script>
  <script src="/js-cookie/src/js.cookie.js"></script>

  <!-- TURN.JS -->
  <script src="/javascripts/turn.js/hash.js"></script>
  <script src="/javascripts/turn.js/scissor.min.js"></script>
  <script src="/javascripts/turn.js/turn.html4.min.js"></script>
  <script src="/javascripts/turn.js/turn.min.js"></script>
  <script src="/javascripts/turn.js/zoom.min.js"></script>

  <!-- firebase -->
  <script src="/firebase/firebase-app.js"></script>
  <script src="/firebase/firebase-auth.js"></script>
  <script src="/firebase/firebase-firestore.js"></script>
  <!-- import 'firebase/firestore'; -->

  <script src="/javascripts/firebase/init.js"></script>

  <!-- cuesor -->
  <link rel="stylesheet" href="/stylesheets/cursor.css">

  <!-- animation -->
  <link rel="stylesheet" href="/stylesheets/jelly-animation.css">
  <link rel="stylesheet" href="/stylesheets/splat-animation.css">
  <link rel="stylesheet" href="/stylesheets/rotate-animation.css">
  <link rel="stylesheet" href="/stylesheets/scale-out-animation.css">
  <link rel="stylesheet" href="/stylesheets/slide-out-animation.css">
  <link rel="stylesheet" href="/stylesheets/shake-vertical-animation.css">
  <link rel="stylesheet" href="/stylesheets/color-change-animation.css">
  <link rel="stylesheet" href="/stylesheets/scale-in-animation.css">
  <script src="/javascripts/jelly-button.js"></script>

  <!-- Rating Star -->
  <link rel="stylesheet" href="/stylesheets/style-ratingstar.css">

  <!-- Input -->
  <link rel="stylesheet" href="/stylesheets/style-input.css">

  <!-- Sortable -->
  <link rel="stylesheet" href="/stylesheets/ui-sortable.css">

  <!-- vivus -->
  <script src="/vivus/dist/vivus.min.js"></script>

  <!--Manage Logic-->
  <script src="/javascripts/manage-logic.js"></script>

  <!-- toastr -->
  <link rel="stylesheet" href="/toastr/build/toastr.min.css">
  <script src="/toastr/build/toastr.min.js"></script>

  <!-- fittext -->
  <script src="/javascripts/fittext/jquery.fittext.js"></script>

  <!-- typed.js -->
  <script src="/typed.js/lib/typed.min.js"></script>

  <!-- intro.js -->
  <link rel="stylesheet" href="/intro.js/introjs.css">
  <script src="/intro.js/intro.js"></script>

  <!-- anime.js -->
  <script src="/animejs/lib/anime.min.js"></script>

  <!-- highcharts -->
  <script src="/highcharts/highcharts.src.js"></script>
  <!-- <link rel="stylesheet" href="/highcharts/css/highcharts.css"> -->

  <!-- dataTables -->
  <script src="/datatables/media/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" href="/datatables/media/css/jquery.dataTables.css">

  <!-- ZingChart.js-->
  <script src="/zingchart/zingchart.min.js"></script>

  <!-- diagame -->
  <link rel="stylesheet" href="/stylesheets/diagame.css">
  <link rel="stylesheet" href="/stylesheets/diagame-game.css">
  <link rel="stylesheet" href="/stylesheets/diagame-toast.css">
  <link rel="stylesheet" href="/stylesheets/diagame-modal.css">
  <link rel="stylesheet" href="/stylesheets/manage-diagram.css">

  <!-- avatar -->
  <link rel="stylesheet" href="/stylesheets/style-avatar.css">

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/panal.css">
  <link rel="stylesheet" href="/stylesheets/card.css">
  <link rel="stylesheet" href="/stylesheets/diagame-datatables.css">
  <script src="/javascripts/slidebar.js"></script>
  {{#if diagameIntro}}

  {{else}}
  <link rel="stylesheet" href="/stylesheets/diagame-intro.css">
  {{/if}}
  <!-- utils -->
  <script src="/javascripts/utlis.js"></script>

  <script>const refAchieve = firestore.collection("lessons").doc("{{user.uid}}").collection('achievements');</script>
  <script>const refPassed = firestore.collection("lessons").doc("{{user.uid}}").collection('passed');</script>
  <script src="/javascripts/game-engine.js"></script>

  {{#if errorMsg }}
  <script>
    errorMsg = JSON.parse('{{json errorMsg}}'.replace(/&quot;/g, '\"'));
  </script>
  {{/if }}
  {{#if achievementList }}
  <script>
    achievementList = JSON.parse('{{json achievementList}}'.replace(/&quot;/g, '\"'));
  </script>
  {{/if }}
  {{#if general }}
  <script>
    introLabel = JSON.parse('{{json general.intro}}'.replace(/&quot;/g, '\"'));
  </script>
  {{/if }}
</head>

<body>
  {{> navbar }}
  {{#if slideBar }}
  {{> slidebar }}
  {{else}}
  {{{body}}}
  {{/if }}


  {{> modal }}
</body>

</html>