<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="closeModal('#modal-alert')"></div>
    <div class="alert-title"></div>
    <div class="alert-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="closeModal('#modal-alert')" class="canClick button-close-modal">{{general.button.close}}</button>
  </div>
</div>

<div id="modal-achievement" class="modal">
  <div class="modal-content">
    <div id="achievement-photo" class="achievement-photo"></div>
    <div class="achievement-title"></div>
    <div class="achievement-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="closeModal('#modal-achievement')" style="float: left;" class="canClick button-achievement">{{general.button.done}}</button>
    <button id="nextPage" onclick="nextPage('{{ nextPage }}')" class="canClick button-achievement" style="float: right;">{{general.button.next}}</button>
  </div>
</div>

<div id="modal-navigator" class="modal">
  <div class="modal-content">
    <div class="navigator-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="window.location.replace('/home')" style="float: left;" class="canClick button-navigator">{{general.button.home}}</button>
    <button onclick="nextPage('{{ nextPage }}')" class="canClick button-navigator" style="float: right;">{{general.button.next}}</button>
  </div>
</div>