<link rel="stylesheet" href="/stylesheets/style-loading.css"/>

<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="closeModal('#modal-alert')"></div>
    <div class="alert-title"></div>
    <div class="alert-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="closeModal('#modal-alert')" class="canClick button-close-modal">{{general.button.close}}</button>
  </div>
</div>

<div id="modal-achievement" class="modal">
  <div class="modal-content">
    <div id="achievement-photo" class="achievement-photo"></div>
    <div class="achievement-title"></div>
    <div class="achievement-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="closeModal('#modal-achievement')" style="float: left;" class="canClick button-achievement">{{general.button.done}}</button>
    <button id="nextPage" onclick="nextPage('{{ nextPage }}')" class="canClick button-achievement" style="float: right;">{{general.button.next}}</button>
  </div>
</div>

<div id="modal-navigator" class="modal">
  <div class="modal-content">
    <div class="navigator-content"></div>
  </div>
  <div class="modal-footer">
    <button onclick="window.location.replace('/home')" style="float: left;" class="canClick button-navigator">{{general.button.home}}</button>
    <button onclick="nextPage('{{ nextPage }}')" class="canClick button-navigator" style="float: right;">{{general.button.next}}</button>
  </div>
</div>

<div id="modal-addQuestion" class="modal">
  <div class="navigator-content">
    <br>
    <div class="addQuestion-content"></div>
    <br>
  </div>
  <div class="modal-footer">
    <button onclick="window.location.replace('/admin')" class="canClick button-navigator">{{general.button.home}}</button>
  </div>
</div>

<div id="modal-saving" class="modal">
  <div class="navigator-content"></div>
    <br>
    <div style="height: 150px;padding-bottom: 0px;">
      <div class="loader"></div>
    </div>
    <br>
  </div>
</div>

<div id="modal-language" class="modal">
  <div class="modal-content">
    <div class="language-header noselect">
        {{ language.header }}
    </div>
    
    <div class="language-title">
        <div id="changeLangThai" value="th"
                class="flag-right bg-sky-blue flag-thai canClick">
                </div>
        <div id="changeLangEng" value="en"
              class="flag-left bg-nude flag-eng canClick"></div>
    </div>
    <div class="language-content"></div>
  </div>
</div>


<div id="modal-wellcome" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="startTutorial();playSoundEx('click');"></div>
    <div class="wellcome-header">{{ walcomeModal.header }}</div>
    <div class="wellcome-logo ">
      <div class="postit postit-middle-center2 bg-sky-blue {{walcomeModal.logo}}"}>
      </div>
    </div>
    <div class="wellcome-title">&emsp;{{ walcomeModal.title }}</div>
    
  </div>
  <div class="modal-footer">
    <button style="width: 230px;" onclick="startTutorial();playSoundEx('click');" class="canClick button-close-modal">{{walcomeModal.button.learning}}</button>
  </div>
</div>

<div id="modal-feedback" class="modal">
    <div class="modal-content" style="background-color: #64cc45;">
      <div class="button-close-custom canClick right" onclick="closeModal('#modal-feedback');playSoundEx('click');"></div>
      <div class="" style="text-align:center; font-size:50px; font-weight: bold;">{{ general.feedback.title }}</div>
      <div class=""><textarea style="border:5px solid black; height:100px; background-color: white;" placeholder="{{ general.feedback.text }}" id="comment-feedback"></textarea></div>
        <!-- Rating Stars Box -->
        <section class='rating-widget'>
         <div class='rating-starsfeedback' style="text-align: center;">
           <ul id='stars'>
             <li class='star' title='Poor' data-value='1'>
               <i class='fa fa-star fa-fw lvl'></i>
             </li>
             <li class='star' title='Fair' data-value='2'>
               <i class='fa fa-star fa-fw lvl'></i>
             </li>
             <li class='star' title='Good' data-value='3'>
               <i class='fa fa-star fa-fw lvl'></i>
             </li>
             <li class='star' title='Excellent' data-value='4'>
               <i class='fa fa-star fa-fw lvl'></i>
             </li>
             <li class='star' title='WOW!!!' data-value='5'>
               <i class='fa fa-star fa-fw lvl'></i>
             </li>
           </ul>
      </div>
      <input type="hidden" id="ratingStar">
    </div>
    <div class="modal-footer" style="border-top: 5px solid black;">
      <button onclick="playSoundEx('click');saveFeedback('{{ user.displayName }}');" class="canClick button-apply-feedback">{{ button.submit }}</button>
      <button onclick="playSoundEx('click');closeModal('#modal-feedback');" class="canClick button-close-setting">{{button.close}}</button>
    </div>
  </div>

  
<div id="modal-setting" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="closeModal('#modal-setting');playSoundEx('click');"></div>
    <div class="setting-header"> {{setting.header}} </div>
    <div class="setting-title ">
      <div class="language-title" style="height: 200px;">
        <div style="width: 100%;height:200px; font-size: 24px;" >
          <div style="display: block;"> 
            <div style="text-align: center;">
              <B >{{setting.titleLanguage}}</B>
            </div>
            <div style="margin-top: 10px;" class="flag-select-setting">
           
            </div>
            <input type="hidden" id="setting-language" >
          </div>
        
          <div  >
            <div style="display: block;">
              <div style="text-align: center;">
                <B >{{setting.titleSound}}</B>
              </div>
              
              <div style="position: absolute; width: 100%;">
                <div class="canClick typeButton btn-main-sound" style="display: inline-flex;" onclick="editsoundMaster()">
                </div>
                <span  style="position: absolute; margin-left: 10px;width: 100%;margin-top: 15px;" >
                  {{ setting.soundMaster }}
                </span >
              </div>
              <div style="position: absolute; margin-top:70px; width: 100%;">
                <div class="canClick typeButton btn-main-music" style="display: inline-flex;position: relative;" onclick="editsoundMusic()">
                 
                </div>
                <span  style="position: absolute; margin-left: 10px; width: 100%;margin-top: 15px;">
                  {{ setting.soundMusic }}
                </span >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button onclick="playSoundEx('click');applySetting()" class="canClick button-close-modal">{{ button.apply }}</button>
    <button onclick="playSoundEx('click');closeModal('#modal-setting');" class="canClick button-close-setting">{{button.close}}</button>
  </div>
</div>


<div id="modal-firstPlay" class="modal" style="width: 600px;">
  <div class="modal-content">
    <div style="display: inline-flex;">
      <div style="width: 30%;align-content: center;">
        <div class="avatarblock">
          <img src="/assets/svg/avatar/robot-01.svg" alt="Avatar" class="avatar" id="selectavatar" value="robot-01.svg">
          <div class="middle">
            <div class="textavatar">Change Avatar</div>
          </div>
        </div>
      </div>
      <div style="width: 70%;align-self: center;position: fixed;right: 0%;padding: 30px;">
        <span style="font-size: 28px;font-weight: bold;">What is your name?</span>
        <input type="text" id="username" style="border: solid 3px #000000;text-align:center;font-size: 20px;font-weight: bold;">
      </div>
    </div>
    <div class="button-close-custom canClick right" onclick="closeModal('#modal-firstPlay');playSoundEx('click');"></div>   
  </div>
  <div class="modal-footer">
    <button onclick="playSoundEx('click');saveUserInfo();" class="canClick button-close-modal">Save</button>
  </div>
</div>

<div id="modal-showAvatar" class="modal modal_avatar" >
  <div class="modal-content" id="targetAvatar">
       
  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="modal-confirm-signout" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="startTutorial();playSoundEx('click');"></div>
    <div class="signout-header">{{ signOut.header }}</div>
    <div class="signout-title">&emsp;{{ signOut.title }}</div>
    
  </div>
  <div class="modal-footer">
    <button style="width: 230px;" onclick="startTutorial();playSoundEx('click');" class="canClick button-close-modal">{{walcomeModal.button.learning}}</button>
  </div>
</div>

<div id="modal-leaderboard" class="modal">
  <div class="modal-content">
    <div class="button-close-custom canClick right" onclick="closeModal('#modal-leaderboard');playSoundEx('click');"></div>
    <br>
    <div style="text-align: center; font-size: 30px;">Leaderboard</div>
    <br>
    <table>
      <thead style="text-align: center;">
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Test</td>
          <td>10000</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>


