<header>
    <link rel="stylesheet" href="/stylesheets/style-admin.css">
    <link rel="stylesheet" href="/stylesheets/style-navbar.css">
    <link rel="stylesheet" href="/stylesheets/style-feedback.css">
    <link rel="stylesheet" href="/stylesheets/hint/hint.css"/>
</header>
<div id="book" style="display: table;margin: auto;margin-top: 40px;">
    <div class="book">
        <div class=" cover">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1306.999 879.474">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #ffdd4e;
                        }

                        .cls-1,
                        .cls-2,
                        .cls-3 {
                            stroke: #000;
                            stroke-width: 5px;
                        }

                        .cls-2,
                        .cls-5 {
                            fill: none;
                        }

                        .cls-3 {
                            fill: #fff;
                        }

                        .cls-4 {
                            stroke: none;
                        }

                        .cls-6 {
                            filter: url(#Rectangle_48);
                        }

                        .cls-7 {
                            filter: url(#Subtraction_1);
                        }
                    </style>
                    <filter id="Subtraction_1" x="0" y="0" width="1306.999" height="879.474"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="8" dy="8" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-opacity="0.302" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                    <filter id="Rectangle_48" x="48" y="22.096" width="1208.012" height="811.239"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="5" dy="5" input="SourceAlpha" />
                        <feGaussianBlur result="blur-2" />
                        <feFlood flood-opacity="0.161" />
                        <feComposite operator="in" in2="blur-2" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="Group_22" data-name="Group 22" transform="translate(-311 -114)">
                    <g id="book" transform="translate(0 2)">
                        <g id="Group_10" data-name="Group 10">
                            <g class="cls-7" transform="matrix(1, 0, 0, 1, 311, 112)">
                                <path id="Subtraction_1-2" data-name="Subtraction 1" class="cls-1"
                                    d="M-1934.746-4312.979c-18.592,0-30.3-7.871-36.853-14.475h-596.9a11.427,11.427,0,0,1-8.133-3.368,11.424,11.424,0,0,1-3.368-8.131v-829a11.425,11.425,0,0,1,3.368-8.132,11.427,11.427,0,0,1,8.133-3.369h594.175a47.487,47.487,0,0,0,13.808,11.3,53.436,53.436,0,0,0,25.77,6.178,58.021,58.021,0,0,0,26.537-6.178,56.83,56.83,0,0,0,15.212-11.3h595.5a11.424,11.424,0,0,1,8.132,3.369,11.425,11.425,0,0,1,3.368,8.132v829a11.424,11.424,0,0,1-3.368,8.131,11.424,11.424,0,0,1-8.132,3.368h-598.6A56.845,56.845,0,0,1-1934.746-4312.979Z"
                                    transform="translate(2582.5 5181.95)" />
                            </g>
                            <line id="Line_18" data-name="Line 18" class="cls-2" y1="68"
                                transform="translate(921.5 898.5)" />
                            <line id="Line_19" data-name="Line 19" class="cls-2" y1="68"
                                transform="translate(998.5 898.5)" />
                        </g>
                        <g id="Group_11" data-name="Group 11" transform="translate(0 -23.903)">
                            <g class="cls-6" transform="matrix(1, 0, 0, 1, 311, 135.9)">
                                <g id="Rectangle_48-2" data-name="Rectangle 48" class="cls-3"
                                    transform="translate(48 22.1)">
                                    <rect class="cls-4" width="1203.012" height="806.239" rx="4" />
                                    <rect class="cls-5" x="2.5" y="2.5" width="1198.012" height="801.239" rx="1.5" />
                                </g>
                            </g>
                        </g>
                    </g>
                    <g id="Group_21" data-name="Group 21" transform="translate(-96.458 -105.851)">
                        <g id="Group_16" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-2" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_20" data-name="Group 20" transform="translate(-96.458 -115.851)">
                        <g id="Group_16-2" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-3" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-2" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-4" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_19" data-name="Group 19" transform="translate(-96.458 -125.851)">
                        <g id="Group_16-3" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-5" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-3" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-6" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_18" data-name="Group 18" transform="translate(-96.459 -135.851)">
                        <g id="Group_16-4" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-7" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-4" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-8" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>

    <!-- Feedback -->
    <div class="panelleft" style="width:500px;height: 650px;position: absolute;">
        <div class="innerpage">
            <p class="lesson-title noselect" guide="lesson">Feedback</p>
            {{ ratingstar-feedback feedback }}
            <!-- Start Progress Bar -->
            <div id="list-progressbars"> 
                {{ listprogressbar feedback }}
            </div>
            <!-- End Progress Bar -->
        </div>
    </div>

    <div id="flipbook">
        <!-- Comments -->
        <div class="panelright">
            <div class="innerpage">
                <p class="lesson-title noselect" guide="lesson">Comments</p>
                <div class="sort-version" style="padding-left:300px;">
                <select class="bg-blue sort-select" id="sort-comment" onchange="newComment()">
                        <option value="1" selected>Version  1</option>
                        <option value="2" >Version 2</option>
                </select>
                </div>
                <br>
                <div class="list-question" id="listlogic">
                    {{ listcomment feedback }}
                </div>
            </div>
        </div>
        
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        
      // console.log(JSON.parse($('#ListMenu').val()))
        
        $(".panelindex").hide();
        // $(".indexone").css("opacity","1");
        var page = '{{page}}';
        !isNaN(parseInt(page)) ? changePage(parseInt(page)) : '';

        $('.postit.canClick:not(.postit-disable)').click(function () {
            window.location.replace($(this).attr('target'));
        });

        // introLesson();
    });

    $("#flipbook").turn({
        width: 1000,
        height: 650,
        // turnCorners: "tl,tr",
        // autoCenter: true
    });
    $("#flipbook").css('margin-left', '500px').width('500px');

    $(window).bind('keydown', function (event) {
        if (event.keyCode == 37) {
            $("#flipbook").turn('previous');
        } else if (event.keyCode == 39) {
            $("#flipbook").turn('next');
        }
    });

    $("#flipbook").bind("turning", function (event, page, view) {
        if (page >= 2) {
            $("#flipbook").width('1000px').css('margin-left', '0px');
        }
    });

    $("#flipbook").bind("turned", function (event, page, view) {
        if (page == 1) {
            $("#flipbook").css('margin-left', '500px').width('500px');
        } else if (page >= 10) {
            $('.menu-block.canClick').click(function () {
                var target = $(this).attr('target');
                menuAnimetion(target);
            });
            if ($('#menu-photo').children().length == 0) {
                var target = $($('.menu-block:not(.question)')[0]).attr('target');
                !target ? target = 'question' : '';
                menuAnimetion(target);
            }
        }
        $('.postit.canClick:not(.postit-disable)').click(function () {
            window.location.replace($(this).attr('target'));
        });
    });

    function changePage(index) {
        $("#flipbook").turn("page", index);
    };

    function menuAnimetion(target) {
        // delete old data
        $('#menu-photo').empty();
        $('.menu-name').empty();
        $('.menu-content').empty();

        let path = baseUrl + '/assets/svg/' + achievementList[target].photo;
        let menuName = {
            strings: [achievementList[target].name],
            typeSpeed: 30,
            showCursor: false
        };
        let menuContent = {
            strings: [achievementList[target].description],
            typeSpeed: 5,
            showCursor: false
        };
        let animationSpeed = 2;
        let animationDuration = 600;

        let vivus = new Vivus('menu-photo', {
            file: path,
            onReady: function (myVivus) {
                // `el` property is the SVG element
                myVivus.el.setAttribute('height', '100%');
                myVivus.el.setAttribute('width', '100%');
                vivus.play(animationSpeed, function () {});
                $('#menu-photo>svg').each(function (index, obj) {
                    if (index != 0) {
                        $(obj).detach();
                    }
                });
            }
        });
        new Typed('.menu-name', menuName);
        new Typed('.menu-content', menuContent);
    }

    function introLesson() {
        $("#flipbook").turn("disable", true);
        var intro = introInstant([{
                intro: '{{intro.welcome}}'
            },
            {
                element: $('[guide="lesson"]')[0],
                intro: '{{intro.lesson}}'
            },
            {
                element: $('[guide="lesson"]')[1],
                intro: '{{breaklines intro.subLesson}}'
            }
        ]);
        intro.start()
            .oncomplete(function () {
                $("#flipbook").turn("disable", false);
                introProfile();
            })
            .onexit(function () {
                $("#flipbook").turn("disable", false);
            });
    }

    function introProfile() {
        changePage(10);
        var intro = introInstant([{
                element: $('[guide="profile"]')[0],
                intro: '{{intro.profile}}'
            },
            {
                element: $('[guide="profile"]')[1],
                intro: '{{intro.language}}'
            },
            {
                element: $('[guide="profile"]')[2],
                intro: '{{intro.signout}}'
            },
            {
                element: $('[guide="achievement"]')[0],
                intro: '{{intro.photo}}'
            },
            {
                element: $('[guide="achievement"]')[1],
                intro: '{{intro.menuInfo}}'
            },
            {
                element: $('[guide="achievement"]')[2],
                intro: '{{intro.achievement}}'
            }
        ]);
        setTimeout(function () {
            $("#flipbook").turn("disable", true);
            intro.start()
                .onexit(function () {
                    $("#flipbook").turn("disable", false);
                });
        }, 2000);
    }
</script>

<script>
    function newComment(){
        var ver = $('#sort-comment').val();
        $.ajax({
            url: "",
            type: "POST",
            dataType: "json",
            data:{
                version:ver,
            },
            success:function(){

            },
            error:function(){

            },
        });
    }
</script>