<div class="timer timer-top-rigth noselect bg-nude">
    <div id="timeBar" style="background-color: #4CAF50; height:100%;width: 100%; position:absolute;border-radius:5px;">
    </div>
    <span style="font-size: 55px; position: relative;z-index: 15;">
        <div class="icon-clock"></div> <span id="minutes">00</span>:<span id="seconds">00</span>
    </span>
    <input type="text" id="timePlay" value="0" hidden>
</div>

<div class="scoreBar scoreBar-top-left noselect bg-purple">
    <div class="icon-award"></div>
    <div style="font-size: 48px;">
        <span id="score">{{maxScore}}</span>
        <input type="text" id="scorePlay" value="0" hidden>
    </div>
</div>
<div class="questionBox noselect">
    <div class="questionCount">{{ questionName }}</div>
    <div class="questionArea">
        {{operatorQuestion question}}
    </div>
</div>

<div class="sourceBottom noselect">
    <div class="tab-horizontal" style="padding-left: 15px;">
        <div class="tab valign-wrapper"
            style="height: 90px;border-right: 5px solid;padding-top: 15px;padding-right: 15px;">
            <div id="playMinigame" class="canClick jellyButton button-tool" style="margin:0px;">
                <svg style="width: 20px;height: 30px;margin-top: 14px;margin-left: 16px;">
                    <path
                        d="M26.522,10.162,9.16.144a1.071,1.071,0,0,0-1.6.927V21.124a1.071,1.071,0,0,0,1.6.927L26.522,12.033A1.086,1.086,0,0,0,26.522,10.162Z"
                        transform="translate(-7.556 0)"></path>
                </svg>
            </div>
        </div>
        <div class="tab valign-wrapper" style="width:100%;padding-top: 15px">
            <div class="canClick jellyButton operatorButton selected" event="+">
                <div class="plus-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="-">
                <div class="minus-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="*">
                <div class="multiple-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="/">
                <div class="divide-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="%">
                <div class="modular-icon"></div>
            </div>
        </div>
    </div>
</div>

<script>
    let refScore = firestore.collection("ScoreHistory");
    let refUserInfo = firestore.collection("UserInfo");
    let round = 0;


    $('#backButton').click(function () {
        nextPage('/home');
    });
    $(function () {
        $(".boxAnswer").sortable({
            // revert: true,
            activate: function (event, ui) {
                $(ui.item[0]).addClass("play_jelly");
                playSoundEx('pop');
            },
            deactivate: function (event, ui) {
                playSoundEx('drop');
            },
            receive: function (event, ui) {
                // border: 0px solid;
                // console.log();
                $(this).parent().find('.operatorButton').addClass('operatorButtoninBox');
                // $(this).parent().find('.operatorButton').width('50px');
                // $(this).parent().find('.operatorButton').height('50px');
            },
            out: function (event, ui) {
                if (ui.helper != null && $('.boxAnswer>div').length > 0) {
                    console.log('remove', ui);
                    // $(ui.item[0]).addClass("scale-out-center");
                    setTimeout(() => {
                        playSoundEx('pop');
                        $(ui.item[0]).detach();
                    }, 500);
                }
            },
            remove: function (event, ui) {
                console.log(ui);
            }
        });
        $(".operatorButton").draggable({
            connectToSortable: ".boxAnswer",
            helper: "clone",
            revert: "invalid",
            start: function (event, ui) {
                // $(ui.item[0]).addClass("play_jelly");
                $(ui.helper[0]).addClass("play_jelly");
                $(ui.helper[0]).css('box-shadow', ' 7px 7px 0 0px rgba(0, 0, 0, 0)');
                playSoundEx('pop');
            }
        });
        $("ul, li").disableSelection();
    });

    /*
    *Description: Game Engine running with start element and end with end element or end of flowchart
                  and compares temp flowchart and current if isEqual then save flowchart to cloudfirestore.
    *@version 1.0
    *@author Prince Pongsakorn
    *@since 11 Mar 2019
    *@required jQuery,Firebase Cloud Firestore.
    */
    function gameEngine(callback) {
        let start = $('.question.active').find('div');
        var element = start;
        var timestamp = Date.now();
        var equation = [];
        var answer = '';
        if ($('.boxAnswer').find('div').length > 0) {
            play();
        } else {
            callback();
        }

        function play() {
            if (element.attr('type') == 'operand') {
                console.log(element);
                equation.push(element.attr('event'));
                element = element.next();
                play();
            } else if (element.attr('type') == 'operator') {
                equation.push(element.find('[event]').attr('event'));
                element = element.next();
                play();
            } else if (element.attr('type') == 'result') {
                answer = element.attr('event');
                if (getResult()) {
                    playSoundEx('correct');
                    //showNavigator('{{general.congrat}}');
                    //save score history
                    statusQuestion = true;
                    refScore.doc("{{user.uid}}logic{{questionId}}").get().then(function (doc) {
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1;
                        var HH = today.getHours();
                        var MM = today.getMinutes();
                        var SS = today.getSeconds();
                        var yyyy = today.getFullYear();
                        let round = 1;
                        let uid = "{{user.uid}}";
                        if (doc.exists) {
                            round = doc.data().round + 1;
                        }
                        showScoreReult('{{general.result}}'+$("#scorePlay").val());
                        refScore.doc("{{user.uid}}logic{{questionId}}").set({
                            uid: uid,
                            type: "logic",
                            questionId: "{{ questionId }}",
                            round: round,
                            score: $("#scorePlay").val(),
                            time: $("#timePlay").val(),
                            date: twoDigit(dd) + "/" + twoDigit(mm) + "/" + yyyy + "T" + twoDigit(HH) + ":" + twoDigit(MM) + ":" + twoDigit(SS)
                        }).then(function () {
                            console.log("Save Score");
                        }).catch(err => {
                            console.log("Error : " + err);
                        });
                    });
                } else {
                    $('.questionBox').addClass("shake-vertical");
                    playSoundEx('error');
                    notice(2000, 'warning', errorMsg.game.wrong);
                    setTimeout(function () {
                        $('.questionBox').removeClass("shake-vertical");
                    }, 600);
                }
                callback();
            }
        }

        function getResult() {
            var result = (eval(equation.join('')) == parseInt(answer));
            return result;
        }
    }

    var statusQuestion = false;
    $(document).ready(function () {
        timer('{{level}}', (obj) => {
            if (typeof obj.score != "undefined") {
                $("#scorePlay").val(obj.score);
                console.log("score:" + $("#scorePlay").val());
            }
            if (typeof obj.time != "undefined") {
                $("#timePlay").val(obj.time);
                console.log("time:" + $("#timePlay").val());
            }
        });
        $("#nextQuestion").click(function(){
            nextQuestion("operator","{{questionId}}")
        });
    });
</script>