.modal {
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
}

.modal .modal-footer {
    height: auto;
    vertical-align: middle;
}

#modal-signin.modal {
    width: 30%;
    max-height: 100%;
}

#modal-signin>.modal-content {
    padding: 0 0 0 0;
}

#modal-signin>.modal-footer {
    text-align: center;
    background-color: #fecf36;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
}

#modal-alert.modal {
    width: 35%;
}

#modal-alert>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
}

#modal-wellcome.modal {
    width: 60%;
    max-height: 100%;
}

#modal-wellcome>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
}

#modal-language.modal {
    width: 580px;
}

#modal-language>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
}

#modal-setting.modal {
    width: 680px;
    
}

#modal-setting>.modal-content>.setting-header{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#modal-setting>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
}
#modal-setting>.modal-content>.setting-title>.language-title>div>div:nth-child(1){
    width: 47%; 
    padding: 10px;
    height:200px; 
    position: absolute;
    border-right: 5px solid #000000;
}

#modal-setting>.modal-content>.setting-title>.language-title>div>div:nth-child(2){
    float: right; 
    width: 50%; 
    padding: 10px;
    height:200px;
}

#modal-setting>.modal-content>.setting-title>.language-title>div>div:nth-child(1){
    width: 47%; 
    padding: 10px;
    height:200px; 
    position: absolute;
    border-right: 5px solid #000000;
}

#modal-setting>.modal-content>
    .setting-title>.language-title>div>div:nth-child(1)>div:nth-child(2)>
    #setting-lang-thai,
#modal-setting>.modal-content>
    .setting-title>.language-title>div>div:nth-child(1)>div:nth-child(2)>
    #setting-lang-eng{
        margin: 5px; 
        float: left;
        width: 120px;
        height: 90px;
        border: solid 5px #000000;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}


#modal-setting>.modal-content>
    .setting-title>.language-title>div>div:nth-child(1)>div:nth-child(2)>
    div>span{
        position: absolute;
        margin-top: 100px;
        /* margin-left:12px;
        font-size: 24px; */
}
#modal-input.modal {
    width: 400px;
}


#modal-input>.modal-content {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
}

#modal-input>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #e0cafa;
    height: 90px;
}

#modal-achievement.modal {
    width: 600px;
    max-height: 100%;
}

#modal-achievement>.modal-content {
    padding: 15px 15px 15px 15px;
}

#modal-achievement>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-navigator.modal {
    width: 600px;
    max-height: 100%;
}

#modal-navigator>.modal-content {
    padding: 15px 15px 15px 15px;
}

#modal-navigator>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-navigator>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-addQuestion>.modal-footer {
    text-align: right;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}
#modal-confirm-delete{
    width: 600px !important;
}


#modal-confirm-delete>.modal-footer {
    text-align: right;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-result-score>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-result-score-diagram>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-fail-diagram>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-tutorial-logic.modal {
    width: 600px;
    max-height: 100%;
}

#modal-tutorial-logic>.modal-content {
    padding: 15px 15px 15px 15px;
}

#modal-tutorial-logic>.modal-content>.tutorial-logic-content {
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}

#modal-tutorial-logic>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-wallcome.modal {
    width: 600px;
    max-height: 100%;
}

#modal-wallcome>.modal-content {
    padding: 15px 15px 15px 15px;
}

#modal-wallcome>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}


.alert-title {
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
}

.alert-content {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    padding: 0px 40px 0px 40px;
}

.button-close-modal {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-family: 'Mali', cursive;
    background-color: #fecf36;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-close-modal::first-letter {
    text-transform: uppercase;
}

.button-close-modal:active,
.button-close-modal:focus {
    background-color: #feae36;
}

.button-apply-feedback {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-family: 'Mali', cursive;
    background-color: #56e3ad;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-apply-feedback::first-letter {
    text-transform: uppercase;
}

.button-apply-feedback:active,
.button-apply-feedbackl:focus {
    background-color: #56e3ad;
}

.button-close-custom {
    width: 16px;
    height: 16px;
    right: 12px;
    top: 12px;
    background-image: url('/assets/svg/close.svg');
    position: fixed;
}

.achievement-photo,.tutorial-photo {
    width: 400px;
    height: 250px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 5px #000000;
    background-color: #FFFFFF;
    /* padding: 10px; */
    margin: auto;
}

.achievement-title ,.tutorial-title{
    width: 100%;
    height: 40px;
    padding: 0px 20px 5px 20px;
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    margin-top: 20px;
}

.achievement-content ,.tutorial-content{
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

.button-achievement {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-family: 'Mali', cursive;
    background-color: #b2bbff;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-achievement:active,
.button-achievement:focus {
    background-color: #b2bbff;
}

.button-achievement::first-letter{
    text-transform: uppercase;
}

.navigator-content {
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}

.result-score-content {
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
    font-size: 36px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}

.button-navigator {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-family: 'Mali', cursive;
    background-color: #b2bbff;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-navigator:active,
.button-navigator:focus {
    background-color: #b2bbff;
}

.button-navigator::first-letter{
    text-transform: uppercase;
}

.language-no-select{
    filter: grayscale(100%);
}
.blur{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.unblur{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.button-close-setting {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
    font-family: 'Mali', cursive;
    background-color: #FC5972;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.button-close-setting::first-letter {
    text-transform: uppercase;
}

.button-close-setting:active,
.button-close-setting:focus {
    background-color: #FC5972;
}


#modal-pass-tutorial.modal {
    width: 600px;
    max-height: 100%;
}

#modal-pass-tutorial>.modal-content {
    padding: 15px 15px 15px 15px;
}

#modal-pass-tutorial>.modal-footer {
    text-align: center;
    background-color: #b2bbff;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 5px solid #000000;
    height: 80px;
}

#modal-leaderboard>.modal-content{
    max-height: 100%;
}

#modal-list-user>.modal-content>.list-header{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#modal-list-user>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
    display: inline-block;
}

#modal-list-user{
    max-height: 100% !important;
    overflow-y: scroll;
}

#modal-list-question>.modal-content>.list-header{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#modal-list-question>.modal-footer {
    border-top: 5px solid #000000;
    background-color: #56e3c4;
    display: inline-block;
}

#modal-list-question{
    max-height: 100% !important;
    overflow-y: scroll;
}