.dataTable>thead{
    background-color: lightblue;
}

.dataTable>thead>tr>th{
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.dataTable>thead>tr>th:last-child{
    border-right: 5px solid black;
}

.dataTable>tbody>tr>td{
    border-left: 5px solid black;
    border-bottom: 0.5px solid #D7DBDD ;
}
.dataTable>tbody>tr>td:last-child{
    border-right: 5px solid black;
}
table{
    border-bottom: 5px solid black !important;
}

.dataTables_length>label>select{
    display: inline !important;
    margin-left: 5px;
    margin-right: 5px;
}

.dataTables_length>label{
    padding-top: 15px;
    display: inline-flex ;
    align-items: center;
    margin-top: -10px;
    color: black;
    font-size: 18px;
}

#tableFlowchartManagement_paginate>span>.current{
    border: 5px solid black;
    background: darkorange;
}

#LogicTable_paginate>span>.current{
    border: 5px solid black;
    background: darkorange;
}

#tableListUser_paginate>span>.current{
    border: 5px solid black;
    background: darkorange;
}

#tableListQuestion_paginate>span>.current{
    border: 5px solid black;
    background: darkorange;
}

.table>thead>tr>th{
    text-align: center;
}

.table-action{
    width: 100%;
    height: auto;
    display: flex;
}

button>.btn-edit-pencil{
    font-size:22px;display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 0px #00000069;
    width: 45px;
    height: 45px;
    border: 3px solid #000000;
    margin-right: 10px;
    background-color: #F4D03F;
    background-image: url("/assets/svg/table/action/pencil.svg");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

button>.btn-edit-pencil:hover{
    background-color: #F9E79F;
}

button>.btn-delete{
    font-size:22px;display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 0px #00000069;
    width: 45px;
    height: 45px;
    border: 3px solid #000000;
    margin-right: 10px;
    background-color:#E74C3C;
    background-image: url("/assets/svg/table/action/rubbish.svg");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

button>.btn-delete:hover{
    background-color:#F1948A;
}

.dataTables_filter>label>input{
    font-family: 'Mali', cursive;
    border: 5px solid black !important;
    /* background-color: #D0D3D4 !important; */
    background : #F8F9F9 !important;
    text-indent: 7px !important;
}

.dataTables_wrapper{
    width: 100%;
}

.dataTables_filter{
    padding-right: 20px;
}

.dataTables_filter>label>input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #34495E;
    opacity: 1; /* Firefox */
    font-weight: bold;
}

.dataTables_filter>label>input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #34495E;
    font-weight: bold;
}

.dataTables_filter>label>input::-ms-input-placeholder { /* Microsoft Edge */
    color: #34495E;
    font-weight: bold;
}

.table-action>button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: auto;
}
