textarea,input, select {
        font-size: 18px;
        resize: vertical;
        font-family: "Mali", cursive;
        text-indent: 3px;
        border: solid 4px #000000 !important;
        background-color: #FFFFFF !important;
        border-radius: 10px!important;
    }    

    .panelQuestion {
        overflow: auto;
        width: 95%;
        padding-bottom: 2%;
    }


    .book-button {
        width: 55px;
        height: 55px;
        font-family: 'Mali', cursive;
        font-size: 20px;
        border-radius: 12px;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.16);
        border: solid 5px #000000;
    }

    .add-button {
        width: 150px;
        height: 50px;
        font-family: 'Mali', cursive;
        font-size: 20px;
        border-radius: 12px;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.16);
        border: solid 5px #000000;
    }


    .book-button.red-button {
        color: #FFFFFF;
        background-color: #cf4332;
    }

    .book-button.blue-button {
        color: #FFFFFF;
        background-color: #3a5892;
    }

    .add-button.blue-button {
        color: #FFFFFF;
        background-color: #3a5892;
    }

    .add-button.green-button {
        color: #FFFFFF;
        background-color: #338f3b;
    }

    .add-button.red-button {
        color: #FFFFFF;
        background-color: #cf4332;
    }

    .input-name{
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }

    

    