/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    color:#ffffff; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.redBorder{
    border-color: red !important;
    border-width: 3px !important ;
}

.redBorder2{
    border-color: red !important;
    background-color: rgb(241, 187, 203)!important;
}

i.fa.fa-star.fa-fw{
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 3px;
}

i.fa.fa-star.fa-fw.feedback{
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}
/* Rating Star Widgets Style */
.rating-starsfeedback ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-starsfeedback ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-starsfeedback ul > li.star > i.fa {
    font-size:5em; /* Size Of Stars */
    color:#ffffff; /* Color on idle state */
}

/* Hover state of the stars */
.rating-starsfeedback ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-starsfeedback ul > li.star.selected > i.fa {
    color:#FF912C;
}
