<div class="timer timer-top-rigth noselect bg-nude" >
    <div id="timeBar" style="background-color: #4CAF50; height:100%;width: 100%; position:absolute;border-radius:5px;" ></div>
    <span style="font-size: 55px; position: relative;z-index: 15;">
        <div class="icon-clock" ></div> <span id="minutes">00</span>:<span id="seconds">00</span></span>
</div>

<div class="scoreBar scoreBar-top-left noselect bg-purple" >
    <div class="icon-award" ></div>
    <div style="font-size: 48px;">
        <span id="score">{{maxScore}}</span>
    </div>
</div>
<div class="questionBox noselect">
    <div class="questionCount">1/{{ totalQuestion}} {{general.question}}</div>
    <div class="questionArea">
        {{logicQuestion question}}
    </div>
</div>

<div class="sourceBottom noselect">
    <div class="tab-horizontal" style="padding-left: 15px;">
        <div class="tab valign-wrapper"
            style="height: 90px;border-right: 5px solid;padding-top: 15px;padding-right: 15px;">
            <div id="playMinigame" class="canClick jellyButton button-tool" style="margin:0px;">
                <svg style="width: 20px;height: 30px;margin-top: 14px;margin-left: 16px;">
                    <path
                        d="M26.522,10.162,9.16.144a1.071,1.071,0,0,0-1.6.927V21.124a1.071,1.071,0,0,0,1.6.927L26.522,12.033A1.086,1.086,0,0,0,26.522,10.162Z"
                        transform="translate(-7.556 0)"></path>
                </svg>
            </div>
        </div>
        <div class="tab valign-wrapper operator-area" style="width:100%;padding-top: 15px;height: 100%;">
         
            <div class="canClick jellyButton operatorButton selected" event="<" style="  z-index: 10;">
                <div class="lessthan-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="<=">
                <div class="lessthanorequal-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event=">">
                <div class="greaterthan-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event=">=">
                <div class="greaterthanorequal-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="==">
                <div class="equal-icon"></div>
            </div>
            <div class="canClick jellyButton operatorButton" event="!=">
                <div class="notequal-icon"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var statusQuestion = false

    $(function () {
        // debugger
        //  timer('{{maxScore}}','{{minScore}}',(obj)=>{
        //         console.log(obj)
        // })
        startIntro()
        
        $(".boxAnswer").sortable({
            // revert: true,
            activate: function (event, ui) {
                $(ui.item[0]).addClass("play_jelly");
                playSoundEx('pop');
            },
            deactivate: function (event, ui) {
                playSoundEx('drop');
            },
            receive: function (event, ui) {
                let listEle = $('.boxAnswer>div').get()
                listEle.forEach((div,key)=>{
                    if(key != 0){
                        $(div).remove()
                    }
                })
               
                $(this).parent().find('.operatorButton').addClass('operatorButtoninBox');
            },
            out: function (event, ui) {
              
                if (ui.helper != null && $('.boxAnswer>div').length > 0) {
                    console.log('remove', ui);
                    // $(ui.item[0]).addClass("scale-out-center");
                    setTimeout(() => {
                        playSoundEx('pop');
                        $(ui.item[0]).detach();
                    }, 500);
                }
            },
            remove: function (event, ui) {
                console.log(ui);
            }
        });

        $(".operatorButton").draggable({
            connectToSortable: ".boxAnswer",
            helper: "clone",
            revert: "invalid",
            start: function (event, ui) {
                // $(ui.item[0]).addClass("play_jelly");
                $(ui.helper[0]).addClass("play_jelly");
                $(ui.helper[0]).css('box-shadow', ' 7px 7px 0 0px rgba(0, 0, 0, 0)');
                playSoundEx('pop');
            }
        });
        $("ul, li").disableSelection();
    });

    /*
    *Description: Game Engine running with start element and end with end element or end of flowchart
                  and compares temp flowchart and current if isEqual then save flowchart to cloudfirestore.
    *@version 1.0
    *@author Prince Pongsakorn
    *@since 11 Mar 2019
    *@required jQuery,Firebase Cloud Firestore.
    */
    function gameEngine(callback) {
        let active = $('.question.active').find('div');
        var element = active;
        var timestamp = Date.now();
        var operand = [];
        var answer = '';
        if ($('.active').find('.boxAnswer').find('div').length > 0) {
            play();
        } else {
            callback(getResult());
        }

        function play() {
            if (element.attr('type') == 'operand') {
                operand.push(element.attr('event'));
                element = element.next();
                play();
            } else if (element.attr('type') == 'operator') {
                operand.push(element.find('[event]').attr('event'));
                element = element.next();
                play();
            } else if (element.attr('type') == 'result') {
                answer = element.attr('event');
                if (getResult()) {
                    playSoundEx('complete');
                    // playSoundEx('correct');
                    showNavigator('{{general.congrat}}');
                    
                    statusQuestion = true
                } else {
                    $('.questionBox').addClass("shake-vertical");
                    playSoundEx('error');
                    notice(2000, 'warning', errorMsg.game.wrong);
                    setTimeout(function () {
                        $('.questionBox').removeClass("shake-vertical");
                    }, 600);
                }
                callback(getResult());
            }
        }

        function getResult() {
            var result = (eval(operand.join('')) == (answer == 'true'));
            return result;
        }

        function changeQuestion(question) {
            $('.active').addClass('slide-out-left');
            setTimeout(function () {
                $('.active').removeClass('active');
                $('[question="' + (++question) + '"]').addClass('active');
                var countText = $('.questionCount').text().split('/');
                countText[0] = question;
                $('.questionCount').text(countText.join('/'));
            }, 500);
        }
    }
    function startIntro(){
     
        introJs().setOptions({
            nextLabel: introLabel.nextLabel,
            prevLabel: introLabel.prevLabel,
            skipLabel: introLabel.skipLabel,
            doneLabel: introLabel.doneLabel,
            steps: [
                { 
                    intro: "{{ logicalStep.step1 }}"
                },
                {
                    element: ".scoreBar",
                    intro: "{{logicalStep.step2}}"
                },
                                {
                    element: ".timer",
                    intro: "{{logicalStep.step3}}"
                },
                {
                    element : '.questionCount',
                    intro : "{{logicalStep.step4}}"
                },
                {
                    element : '.question',
                    intro : "{{logicalStep.step5}}"
                },
                {
                    element : '.boxAnswer',
                    intro : "{{logicalStep.step6}}"
                },
                {
                    element: '.sourceBottom',
                    intro: `
                        <div style="margin-bottom:20px;">
                            <p style="padding:10px text-align: center;margin-block-start:  0.5em;margin-block-end: 0.5em;">
                                <B >{{logicalStep.step7_header}}</B>
                            </p>
                            &emsp;{{logicalStep.step7_detail}}
                        </div>
                        <div style="margin-bottom:20px;">
                            <p style="padding:10px text-align: center;margin-block-start:  0.5em;margin-block-end: 0.5em;">
                                <B >{{logicalStep.step7_1}}</B>
                            </p>
                            <div>
                                <div id="playMinigame" class=" jellyButton button-tool" style="margin:0px;">
                                    <svg style="width: 40px;height: 50px;margin-top: 18px;margin-left: 22px;">
                                        <path
                                            d="M26.522,10.162,9.16.144a1.071,1.071,0,0,0-1.6.927V21.124a1.071,1.071,0,0,0,1.6.927L26.522,12.033A1.086,1.086,0,0,0,26.522,10.162Z"
                                            transform="translate(-7.556 0)"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <hr stple="solid 5px #000000;">
                        <p style="padding:10px text-align: center;margin-block-start:  0.5em;margin-block-end: 0.5em;">
                            <B >{{logicalStep.step7_2}}</B>
                        </p>
                        <div>
                            <div class="jellyButton operatorButton selected" event="<" style="  z-index: 10;">
                                <div class="lessthan-icon"></div>
                            </div>
                            <div class="jellyButton operatorButton" event="<=">
                                <div class="lessthanorequal-icon"></div>
                            </div>
                            <div class="jellyButton operatorButton" event=">">
                                <div class="greaterthan-icon"></div>
                            </div>
                            <div class="jellyButton operatorButton" event=">=">
                                <div class="greaterthanorequal-icon"></div>
                            </div>
                            <div class="jellyButton operatorButton" event="==">
                                <div class="equal-icon"></div>
                            </div>
                            <div class="jellyButton operatorButton" event="!=">
                                <div class="notequal-icon"></div>
                            </div>
                        </div>
                    `
                }
            ],
            
        }).start()
        .onchange((targetElement)=>{
            playSoundEx('click');
        })
        // clicking 'Done'
        .oncomplete(function(){
            playSoundEx('click');
            timer('{{maxScore}}','{{minScore}}', (obj)=>{
                console.log(obj)
            })
        })

        // clicking 'Skip'
        .onexit(function(){
            playSoundEx('click');
            timer('{{maxScore}}','{{minScore}}',(obj)=>{
                console.log(obj)
            })
        });
    }

    
</script>