<header>
    <link rel="stylesheet" href="/stylesheets/style-login.css">
</header>

<div style="display: table;margin:0 auto;margin-top: 80px;">
    <div class="book">
        <div class="cover">
            <svg viewBox="0 0 718.749 914">
                <defs>
                    <style>
                        .cls-1,
                        .cls-5 {
                            fill: #ffcf4e;
                        }

                        .cls-1,
                        .cls-2,
                        .cls-3,
                        .cls-4,
                        .cls-6 {
                            stroke: #000;
                            stroke-width: 5px;
                        }

                        .cls-2,
                        .cls-8 {
                            fill: none;
                        }

                        .cls-3 {
                            fill: #fff;
                        }

                        .cls-4 {
                            fill: #7159d8;
                        }

                        .cls-6 {
                            fill: #fecf36;
                        }

                        .cls-7 {
                            stroke: none;
                        }

                        .cls-9 {
                            filter: url(#Subtraction_2);
                        }

                        .cls-10 {
                            filter: url(#Path_28);
                        }

                        .cls-11 {
                            filter: url(#Rectangle_52);
                        }
                    </style>
                    <filter id="Rectangle_52" x="0.148" y="0" width="656" height="914" filterUnits="userSpaceOnUse">
                        <feOffset dx="10" dy="10" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-opacity="0.271" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                    <filter id="Path_28" x="614.064" y="149.182" width="101.786" height="49.77"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="3" dy="3" input="SourceAlpha" />
                        <feGaussianBlur result="blur-2" />
                        <feFlood flood-opacity="0.161" />
                        <feComposite operator="in" in2="blur-2" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                    <filter id="Subtraction_2" x="623.148" y="49.183" width="95.601" height="51.77"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="5" dy="5" input="SourceAlpha" />
                        <feGaussianBlur result="blur-3" />
                        <feFlood flood-opacity="0.161" />
                        <feComposite operator="in" in2="blur-3" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="Book" transform="translate(-636.852 -114)">
                    <g class="cls-11" transform="matrix(1, 0, 0, 1, 636.85, 114)">
                        <g id="Rectangle_52-2" data-name="Rectangle 52" class="cls-1" transform="translate(0.15)">
                            <path class="cls-7"
                                d="M24,0H630a16,16,0,0,1,16,16V888a16,16,0,0,1-16,16H24A24,24,0,0,1,0,880V24A24,24,0,0,1,24,0Z" />
                            <path class="cls-8"
                                d="M24,2.5H630A13.5,13.5,0,0,1,643.5,16V888A13.5,13.5,0,0,1,630,901.5H24A21.5,21.5,0,0,1,2.5,880V24A21.5,21.5,0,0,1,24,2.5Z" />
                        </g>
                    </g>
                    <line id="Line_22" data-name="Line 22" class="cls-2" y2="81" transform="translate(677.5 934.5)" />
                    <g id="Rectangle_54" data-name="Rectangle 54" class="cls-3" transform="translate(653 830)">
                        <path class="cls-7"
                            d="M8,0H577a8,8,0,0,1,8,8V157a8,8,0,0,1-8,8H16A16,16,0,0,1,0,149V8A8,8,0,0,1,8,0Z" />
                        <path class="cls-8"
                            d="M8,2.5H577A5.5,5.5,0,0,1,582.5,8V157a5.5,5.5,0,0,1-5.5,5.5H16A13.5,13.5,0,0,1,2.5,149V8A5.5,5.5,0,0,1,8,2.5Z" />
                    </g>
                    <g class="cls-10" transform="matrix(1, 0, 0, 1, 636.85, 114)">
                        <path id="Path_28-2" data-name="Path 28" class="cls-4"
                            d="M4146.2,5436.682h89.247l-21.51,21.309,21.51,20.461H4145.46Z"
                            transform="translate(-3528.85 -5285)" />
                    </g>
                    <path id="Path_20" data-name="Path 20" class="cls-4"
                        d="M4146.381,5436.682h111.068l-26.77,21.309,26.77,20.461H4145.46Z"
                        transform="translate(-2914.002 -5271)" />
                    <g class="cls-9" transform="matrix(1, 0, 0, 1, 636.85, 114)">
                        <path id="Subtraction_2-2" data-name="Subtraction 2" class="cls-4"
                            d="M-2463.554-5202.548H-2544.5v-41.77h80.947l-26.768,21.308,26.766,20.459Z"
                            transform="translate(3170.15 5296)" />
                    </g>
                    <path id="Path_29" data-name="Path 29" class="cls-4"
                        d="M4146.381,5436.682h111.068l-26.77,21.309,26.77,20.461H4145.46Z"
                        transform="translate(-2914.002 -5271)" />
                    <rect id="Rectangle_53" data-name="Rectangle 53" class="cls-5" width="26" height="827"
                        transform="translate(652 137)" />
                    <g id="Rectangle_50" data-name="Rectangle 50" class="cls-6" transform="translate(674 114)">
                        <path class="cls-7"
                            d="M0,0H592a16,16,0,0,1,16,16V837a16,16,0,0,1-16,16H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z" />
                        <path class="cls-8"
                            d="M5,2.5H592A13.5,13.5,0,0,1,605.5,16V837A13.5,13.5,0,0,1,592,850.5H5A2.5,2.5,0,0,1,2.5,848V5A2.5,2.5,0,0,1,5,2.5Z" />
                    </g>
                    <line id="Line_20" data-name="Line 20" class="cls-2" x1="580" transform="translate(656.5 984.5)" />
                    <line id="Line_21" data-name="Line 21" class="cls-2" x1="579" y2="1"
                        transform="translate(656.5 974.5)" />
                    <path id="Path_33" data-name="Path 33" class="cls-2"
                        d="M5246.5,6262.331c-9.575,0-38.242,2.524-38.148-25.708s27.52-25.042,37.948-25.042"
                        transform="translate(-4569 -5247)" />
                </g>
            </svg>
        </div>
        <div class="book-component">
            <div class="book-name no-select">{{ general.site.title }}</div>
            <div class="book-abstract no-select">{{ general.site.description }}</div>
            <button class="book-button signin-button">{{ general.button.diagame }}</button>
            <button class="book-button facebook-button">
                <i class="facebook-icon"></i>
                {{ general.button.facebookSignin }}</button>
            <button class="book-button google-button">
                <i class="google-icon"></i>
                {{ general.button.googleSignin }}</button>
        </div>
    </div>
</div>

<div id="modal-signin" class="modal">
    <div class="modal-content">
        <div class="row col s12" style="border-bottom: 5px solid #000000;">
            <ul class="tabs">
                <li class="tab col s6">
                    <div target="tab-signin" class="tab-title canClick active" onclick="selectTab(this)"
                        style="border-right: 5px solid #000000;">{{ general.button.signin }}
                    </div>
                </li>
                <li class="tab col s6">
                    <div target="tab-signup" class="tab-title canClick" onclick="selectTab(this)">
                        {{ general.button.signup }}
                    </div>
                </li>
            </ul>
        </div>
        <div id="tab-signin" class="tab-content active row col s12">
            <div class="form-diagame">
                <form id="form-signin">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="inputCursor" data-error=".helper-email"
                            placeholder="{{ general.form.email.text }}" />
                        <div class="helper-email error-text noselect"></div>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="inputCursor"
                            data-error=".helper-password" placeholder="{{ general.form.password.text }}" />
                        <div target="password" class="field-icon toggle-password canClick noselect"><i
                                class="eye-icon"></i></div>
                        <div class="helper-password error-text noselect"></div>
                    </div>
                </form>
                <div class="col s12 right-align" style="padding-right: 0px;padding-top: 12px;">
                    <a class="text-button noselect button-forgot">{{ general.button.forgot }}</a>
                </div>
            </div>
        </div>
        <div id="tab-signup" class="tab-content row col s12" style="display:none">
            <div class="form-diagame" style="margin-top:12px;">
                <form id="form-signup">
                    <div class="input-field col s12">
                        <input id="signupUsername" name="signupUsername" type="text" class="inputCursor"
                            placeholder="{{ general.form.username.text }}" data-error=".helper-signupUsername" />
                        <div class="helper-signupUsername error-text noselect"></div>
                    </div>
                    <div class="input-field col s12">
                        <input id="signupEmail" name="signupEmail" type="email" class="inputCursor"
                            placeholder="{{ general.form.email.text }}" data-error=".helper-signupEmail" />
                        <div class="helper-signupEmail error-text noselect"></div>
                    </div>
                    <div class="input-field col s12">
                        <input id="signupPassword" name="signupPassword" type="password" class="inputCursor"
                            placeholder="{{ general.form.password.text }}" data-error=".helper-signupPassword" />
                        <div target="signupPassword" class="field-icon toggle-password canClick noselect"><i
                                class="eye-icon"></i></div>
                        <div class="helper-signupPassword error-text noselect"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-button button-signin active">{{ general.button.signin }}</button>
        <button class="modal-button button-signup" style="display: none;">{{ general.button.signup }}</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#modal-signin').modal({
            'opacity': 0.5,
            'dismissible': true,
            'onOpenStart': function () {
                selectTab($('.canClick[target="tab-signin"]'));
            },
            'onCloseEnd': function () {
                validatorSignin.resetForm();
                $('#form-signin input').removeClass('play_jelly').val('');
                validatorSignup.resetForm();
                $('#form-signup input').removeClass('play_jelly').val('');
            }
        });
    });

    $('.signin-button').click(function () {
        $('#modal-signin').modal('open');
    });

    $('.facebook-button').click(function () {
        signInWithFacebook();
    });

    $('.google-button').click(function () {
        signInWithGoogle();
    });

    function selectTab(element) {
        $('#form-signin input').removeClass('play_jelly');
        $('#form-signup input').removeClass('play_jelly');
        $('.canClick.active').removeClass('active');
        $('.tab-content.active').removeClass('active').hide();
        $('.modal-button.active').removeClass('active').hide();
        $(element).addClass('active');
        $('#' + $(element).attr('target')).addClass('active').show();
        $('.button-' + $(element).attr('target').substr(4)).addClass('active').show();
    }

    $('.toggle-password').mousedown(function () {
        console.log($(this).children());
        $(this).css('opacity', 0.4);
        $('#' + $(this).attr('target')).attr('type', 'text');
    }).mouseup(function () {
        $(this).css('opacity', 0.8);
        $('#' + $(this).attr('target')).attr('type', 'password');
    });

    var validatorSignin = $('#form-signin').validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 15
            }
        },
        messages: {
            email: {
                required: '{{ general.form.email.required }}',
                email: '{{ general.form.email.format }}'
            },
            password: {
                required: '{{ general.form.password.required }}',
                minlength: '{{ general.form.password.minlength }}',
                maxlength: '{{ general.form.password.maxlength }}'
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            console.log($(element));
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
    
    $('#email,#password').keyup((event)=>{
        if(event.originalEvent.code == "Enter" || event.originalEvent.code == "NumpadEnter"){
            $('.button-signin').click()
        }
    })
    $('.button-signin').click(function () {
        if (validatorSignin.form()) {
            signInWithEmailAndPassword($('#email').val(), $('#password').val());
        }else{
            $('#form-signin input.error').removeClass('play_jelly');
            setTimeout(function(){
                $('#form-signin input.error').addClass("play_jelly");
            },100);
        }
    });

    $('.button-forgot').click(function () {
        validatorSignin.resetForm();
        if (validatorSignin.element('#email')) {
            forgotPassword($('#email').val());
        }else{
            $('#form-signin input.error').removeClass('play_jelly');
            setTimeout(function(){
                $('#form-signin input.error').addClass("play_jelly");
            },100);
        }
    });

    var validatorSignup = $('#form-signup').validate({
        rules: {
            signupUsername: {
                required: true
            },
            signupEmail: {
                required: true,
                email: true
            },
            signupPassword: {
                required: true,
                minlength: 8,
                maxlength: 15
            }
        },
        messages: {
            signupUsername: {
                required: '{{ general.form.username.required }}'
            },
            signupEmail: {
                required: '{{ general.form.email.required }}',
                email: '{{ general.form.email.format }}'
            },
            signupPassword: {
                required: '{{ general.form.password.required }}',
                minlength: '{{ general.form.password.minlength }}',
                maxlength: '{{ general.form.password.maxlength }}'
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(element).removeClass('play_jelly').addClass("play_jelly");
                $(placement).append(error)
            } else {
                $(element).removeClass('play_jelly').addClass("play_jelly");
                error.insertAfter(element);
            }
        }
    });

    $('.button-signup').click(function () {
        if (validatorSignup.form()) {
            signUpWithEmailAndPassword(
                $('#signupUsername').val(),
                $('#signupEmail').val(),
                $('#signupPassword').val());
        }else{
            $('#form-signup input.error').removeClass('play_jelly');
            setTimeout(function(){
                $('#form-signup input.error').addClass("play_jelly");
            },100);
        }
    });
</script>