<body>
    <div class="dia-row" style="padding-bottom: 3%">
        <div class="panel panel-default dia-12">
            <div class="panel-heading">เพิ่มโจทย์</div>
            <div class="panel-body">
                <!-- Question Area -->
                <div style="display: inline-flex;width: 95%;">
                    <div style="width: 50%;">
                        <p class="textLabel">{{addForm.form.questionNameEN.text}}</p>
                        <input id="questionInputEN" type="text" class="textBox" />
                        <p id="validate_nameEN" style="text-align: left;" class="textValidate"></p>
                    </div>
                    <div style="width: 50%;padding-left: 3%;">
                        <p class="textLabel">{{addForm.form.questionNameTH.text}}</p>
                        <input id="questionInputTH" type="text" class="textBox" />
                        <p id="validate_nameTH" style="text-align: left;" class="textValidate"></p>
                    </div>
                </div>
                <p class="textLabel">{{addForm.form.equation.text}}
                    <button id="q_increase" class="book-button blue-button"><i class="fa fa-plus"></i></button>
                    <button id="preview" class="add-button blue-button"
                        style="height: 55px !important;">{{general.button.preview}}</button>
                </p>
                <div id="question_text" style="overflow: hidden;text-align: center;">
                    <div style="display: inline-flex;">
                        <input id="question_part1" type="text" class="textBox-150" />
                        &nbsp;<input type="text" class="ans-box" value="Answer" disabled />&nbsp;
                        <input id="question_part2" type="text" class="textBox-150" />
                    </div>
                </div>
                <p id="validate_question" class="textValidate" style="text-align: center;"></p>
                <p class="textLabel">
                    {{addForm.form.answer.text}}
                </p>
                <button id="ansTrue" class="ans-button nonselect-button">{{addForm.form.answer.trueText}}</button>
                <button id="ansFalse" class="ans-button nonselect-button">{{addForm.form.answer.falseText}}</button>
                <button id="ansNum" class="ans-button nonselect-button">{{addForm.form.answer.number}}</button>
                <input id="answer" type="text" class="textBox-150" hidden />
                <p id="validate_ans" class="textValidate"></p>
                <p class="textLabel">{{addForm.form.level.text}}</p>
                <!-- Rating Stars Box -->
                <section class='rating-widget'>
                    <div class='rating-stars' style="text-align: left;">
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input type="text" id="ratingStar" value="0" hidden>
                        <p id="validate_level" class="textValidate"></p>
                    </div>
                </section>
                <!--Menu Icon-->
            </div>
            <div class="panel-footer" style="text-align: right;">
                <div style="display: inline-flex;">
                    <button id="saveButton" class="add-button green-button">{{general.button.save}}</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        //save button click
        $('#saveButton').click(function () {
            //console.log("save data:");
            let logicNameEN = document.getElementById("questionInputEN").value;
            let logicNameTH = document.getElementById("questionInputTH").value;
            let logicQuestion = document.getElementById("question_part1").value;
            let logicAnswer = document.getElementById("answer").value;
            let logicLevel = document.getElementById("ratingStar").value;
            //condition
            let checkNameNullEN = logicNameEN == "";
            let checkNameNullTH = logicNameTH == "";
            let checkAnsNull = logicAnswer == "";
            let checkQuestionNull = logicQuestion == "";
            let checkLevelNull = logicLevel == 0;
            let numQuestionFail = 0;
            //console.log(logicName);
            for (let x = 2; x <= question_partcount; x++) {
                if (document.getElementById("question_part" + x) != null) {
                    let q_part = document.getElementById("question_part" + x).value;
                    if (q_part == "") {
                        numQuestionFail++;
                        $("#question_part" + x).addClass("redBorder");
                        $("#validate_question").text("{{addForm.form.equation.required}}");
                    } else {
                        if (numQuestionFail == 0) {
                            $("#question_part" + x).removeClass("redBorder");
                            $("#validate_question").text("");
                        }
                        logicQuestion = logicQuestion + " {target} " + q_part;
                    }
                }
            }
            if (checkNameNullEN || checkNameNullTH || checkAnsNull || checkQuestionNull) {
                if (checkNameNullEN) {
                    $("#questionInputEN").addClass("redBorder");
                    $("#validate_nameEN").text("{{addForm.form.questionNameEN.required}}");
                } else {
                    $("#questionInputEN").removeClass("redBorder");
                    $("#validate_nameEN").text("");
                }
                if (checkNameNullTH) {
                    $("#questionInputTH").addClass("redBorder");
                    $("#validate_nameTH").text("{{addForm.form.questionNameTH.required}}");
                } else {
                    $("#questionInputTH").removeClass("redBorder");
                    $("#validate_nameTH").text("");
                }
                if (checkAnsNull) {
                    $("#answer").addClass("redBorder");
                    $("#validate_ans").text("{{addForm.form.answer.required}}");
                } else {
                    $("#answer").removeClass("redBorder");
                    $("#validate_ans").text("");
                }
                if (checkLevelNull) {
                    $("#answer").addClass("redBorder");
                    $("#validate_level").text("{{addForm.form.level.required}}");
                } else {
                    $("#answer").removeClass("redBorder");
                    $("#validate_level").text("");
                }
                if (checkQuestionNull) {
                    numQuestionFail++;
                    $("#question_part1").addClass("redBorder");
                    $("#validate_question").text("{{addForm.form.equation.required}}");
                } else {
                    if (numQuestionFail == 0) {
                        $("#question_part1").removeClass("redBorder");
                        $("#validate_question").text("");
                    }
                }
            } else {
                if (numQuestionFail == 0) {
                    saveQuestion(logicQuestion, logicLevel, logicNameEN, logicNameTH, logicAnswer);
                }
            }
        });
    });
</script>