<style>
    #target{
        overflow: auto;
        width: 100% !important;
        padding: 0px 125px 20px 20px !important;
    }
    .targetPanel{
        left: 90px;
    }
</style>
<body>
        <!-- Question Area -->
        <div class="targetPanel-bg"></div>
        <div id="target" class="connectedSource noselect targetPanel ui-widget-content">
            <div>
                <div style="display: inline-flex;width: 100%;">
                    <div style="width: 50%;">
                        <p class="textLabel" >Question Name : EN</p>
                        <input id="questionInputEN" type="text" class="textBox"/>
                        <p id="validate_nameEN" style="text-align: left;" class="textValidate"></p>
                    </div>
                    <div style="width: 50%;padding-left: 2%;">
                        <p class="textLabel" >Question Name : TH</p>
                        <input id="questionInputTH" type="text" class="textBox"/>
                        <p id="validate_nameTH" style="text-align: left;" class="textValidate"></p>
                    </div>
                </div>
                <p class="textLabel" >Equation
                <button id="q_increase" class="book-button blue-button"><i class="fa fa-plus"></i></button>
                <button id="q_decrease" class="book-button blue-button"><i class="fa fa-minus"></i></button>
                </p>
                <div id="question_text" style="overflow: hidden;text-align: center;">
                    <input id="question_part1" type="text" class="textBox-150"/>
                    &nbsp;<input type="text" class="ans-box" value="Answer" disabled/>&nbsp;
                    <input id="question_part2" type="text" class="textBox-150"/>
                </div>
                <p id="validate_question" class="textValidate" style="text-align: center;"></p>
                <p class="textLabel" >
                    Answer
                </p>
                <button id="ansTrue" class="ans-button nonselect-button">True</button>
                <button id="ansFalse" class="ans-button nonselect-button">False</button>
                <button id="ansNum" class="ans-button nonselect-button">Number</button>
                <input id="answer" type="text" class="textBox-150" hidden/>
                <p id="validate_ans" class="textValidate"></p>
                <p class="textLabel" >Level</p>
                <!-- Rating Stars Box -->
                <section class='rating-widget'>
                    <div class='rating-stars' style="text-align: left;">
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                    
                    <div>
                      <input type="text" id="ratingStar" value="0" hidden>
                    </div>
                </section>    
            </div>
        </div>
    <!--Menu Icon-->
    <ul class="tabs">
        <li style="height: 80px;" class="tab">
            <div id="saveButton" class="canClick jellyButton button-tool">
                <div class="save-icon"></div>
            </div>
        </li>
        <li style="height: 90px;" class="tab">
            <div id="cancelButton" class="canClick jellyButton button-tool">
                <div class="cancel-icon"></div>
            </div>
        </li>

    </ul>
</body>