<header>
    <link rel="stylesheet" href="/stylesheets/style-home.css">
</header>
<div id="book" style="display: table;margin: auto;margin-top: 80px;">
    <div class="book">
        <div class=" cover">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1306.999 879.474">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #ffdd4e;
                        }

                        .cls-1,
                        .cls-2,
                        .cls-3 {
                            stroke: #000;
                            stroke-width: 5px;
                        }

                        .cls-2,
                        .cls-5 {
                            fill: none;
                        }

                        .cls-3 {
                            fill: #fff;
                        }

                        .cls-4 {
                            stroke: none;
                        }

                        .cls-6 {
                            filter: url(#Rectangle_48);
                        }

                        .cls-7 {
                            filter: url(#Subtraction_1);
                        }
                    </style>
                    <filter id="Subtraction_1" x="0" y="0" width="1306.999" height="879.474"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="8" dy="8" input="SourceAlpha" />
                        <feGaussianBlur result="blur" />
                        <feFlood flood-opacity="0.302" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                    <filter id="Rectangle_48" x="48" y="22.096" width="1208.012" height="811.239"
                        filterUnits="userSpaceOnUse">
                        <feOffset dx="5" dy="5" input="SourceAlpha" />
                        <feGaussianBlur result="blur-2" />
                        <feFlood flood-opacity="0.161" />
                        <feComposite operator="in" in2="blur-2" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="Group_22" data-name="Group 22" transform="translate(-311 -114)">
                    <g id="book" transform="translate(0 2)">
                        <g id="Group_10" data-name="Group 10">
                            <g class="cls-7" transform="matrix(1, 0, 0, 1, 311, 112)">
                                <path id="Subtraction_1-2" data-name="Subtraction 1" class="cls-1"
                                    d="M-1934.746-4312.979c-18.592,0-30.3-7.871-36.853-14.475h-596.9a11.427,11.427,0,0,1-8.133-3.368,11.424,11.424,0,0,1-3.368-8.131v-829a11.425,11.425,0,0,1,3.368-8.132,11.427,11.427,0,0,1,8.133-3.369h594.175a47.487,47.487,0,0,0,13.808,11.3,53.436,53.436,0,0,0,25.77,6.178,58.021,58.021,0,0,0,26.537-6.178,56.83,56.83,0,0,0,15.212-11.3h595.5a11.424,11.424,0,0,1,8.132,3.369,11.425,11.425,0,0,1,3.368,8.132v829a11.424,11.424,0,0,1-3.368,8.131,11.424,11.424,0,0,1-8.132,3.368h-598.6A56.845,56.845,0,0,1-1934.746-4312.979Z"
                                    transform="translate(2582.5 5181.95)" />
                            </g>
                            <line id="Line_18" data-name="Line 18" class="cls-2" y1="68"
                                transform="translate(921.5 898.5)" />
                            <line id="Line_19" data-name="Line 19" class="cls-2" y1="68"
                                transform="translate(998.5 898.5)" />
                        </g>
                        <g id="Group_11" data-name="Group 11" transform="translate(0 -23.903)">
                            <g class="cls-6" transform="matrix(1, 0, 0, 1, 311, 135.9)">
                                <g id="Rectangle_48-2" data-name="Rectangle 48" class="cls-3"
                                    transform="translate(48 22.1)">
                                    <rect class="cls-4" width="1203.012" height="806.239" rx="4" />
                                    <rect class="cls-5" x="2.5" y="2.5" width="1198.012" height="801.239" rx="1.5" />
                                </g>
                            </g>
                        </g>
                    </g>
                    <g id="Group_21" data-name="Group 21" transform="translate(-96.458 -105.851)">
                        <g id="Group_16" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-2" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_20" data-name="Group 20" transform="translate(-96.458 -115.851)">
                        <g id="Group_16-2" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-3" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-2" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-4" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_19" data-name="Group 19" transform="translate(-96.458 -125.851)">
                        <g id="Group_16-3" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-5" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-3" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-6" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                    <g id="Group_18" data-name="Group 18" transform="translate(-96.459 -135.851)">
                        <g id="Group_16-4" data-name="Group 16" transform="translate(458 259.578)">
                            <path id="Path_38-7" data-name="Path 38" class="cls-3"
                                d="M2942.2,5369.578h567.572c22.709,0,31.3,13.925,31.3,13.925l.087,772.767s-1.46-10.1-31.386-10.39-567.572,0-567.572,0Z"
                                transform="translate(-2942.201 -5369.578)" />
                        </g>
                        <g id="Group_17-4" data-name="Group 17" transform="translate(1056.959 259.578)">
                            <path id="Path_38-8" data-name="Path 38" class="cls-3"
                                d="M3541.16,5369.578H2973.589c-22.709,0-31.3,13.925-31.3,13.925l-.088,772.767s1.46-10.1,31.387-10.39,567.572,0,567.572,0Z"
                                transform="translate(-2942.202 -5369.578)" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>

    <!-- Variable -->
    <div class="panelleft" style="width:500px;height: 650px;position: absolute;">
        <div class="innerpage">
            <p class="lesson-title noselect" guide="lesson">{{ lesson.variable.text }}</p>
            <div guide="lesson" target="/lesson/{{ lesson.variable.url }}/{{ lesson.variable.subLesson.juice.url }}"
                class="postit postit-top-right bg-orange canClick">
                {{ lesson.variable.subLesson.juice.text }}</div>
            <div class="paragraph" style="width:250px;height: 250px;margin-top: 50px;">
                {{lines 11}}
            </div>
            <div target="/lesson/{{ lesson.variable.url }}/{{ lesson.variable.subLesson.cereal.url }}"
                class="postit postit-bottom-left bg-sky-blue canClick {{locked passed lesson.variable.url lesson.variable.subLesson.juice.url }}">{{ lesson.variable.subLesson.cereal.text }}</div>
            <div target="/lesson/{{ lesson.variable.url }}/{{ lesson.variable.subLesson.salad.url }}"
                class="postit postit-bottom-right bg-light-green canClick {{locked passed lesson.variable.url lesson.variable.subLesson.cereal.url }}" style="margin-right: 40px;">{{ lesson.variable.subLesson.salad.text }}</div>
            <div class="paragraph" style="width:220px;height: 250px;margin-left: 240px;">
                {{lines 12}}
            </div>
        </div>

    </div>

    <div id="flipbook">
        <!-- IO -->
        <div class="panelright">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ lesson.diagram.text }}</p>
                <div class="list-question" id="listoperator">
                    {{ listquestion questionDiagram score}}
                </div>
                <!--<div target="/lesson/{{ lesson.io.url }}/{{ lesson.io.subLesson.juice.url }}"
                    class="postit postit-top-left bg-nude canClick">{{ lesson.io.subLesson.juice.text }}</div>
                <div target="/lesson/{{ lesson.io.url }}/{{ lesson.io.subLesson.toast.url }}"
                class="postit postit-top-right bg-yellow canClick {{locked passed lesson.io.url lesson.io.subLesson.juice.url }}">{{ lesson.io.subLesson.toast.text }}</div>
                <div class="paragraph" style="width:200px;height: 250px;margin-top: 50px;margin-left: 240px;">
                    {{lines 12}}
                </div>
                <div target="/lesson/{{ lesson.io.url }}/{{ lesson.io.subLesson.bacon.url }}"
                    class="postit postit-bottom-right bg-red canClick {{locked passed lesson.io.url lesson.io.subLesson.toast.url }}">{{ lesson.io.subLesson.bacon.text }}</div>
                <div class="paragraph" style="width:180px;height: 250px;margin-left: 54.5px;">
                    {{lines 11}}
                </div>-->
            </div>
        </div>

        <!-- Operators -->
        <div class="panelleft">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ lesson.operator.text }}</p>
                <div class="list-question" id="listoperator">
                    {{ listquestion questionOperator score}}
                </div>
                <!--<div target="/lesson/{{ lesson.operator.url }}/{{ lesson.operator.subLesson.easy.url }}"
                    class="postit postit-top-left bg-light-green canClick">{{ lesson.operator.subLesson.easy.text }}</div>
                <div class="paragraph" style="width:220px;height: 250px;margin-top: 50px;margin-left: 240px;">
                    {{lines 11}}
                </div>
                <div target="/lesson/{{ lesson.operator.url }}/{{ lesson.operator.subLesson.nomal.url }}"
                    class="postit postit-bottom-left bg-blue canClick {{locked passed lesson.operator.url lesson.operator.subLesson.easy.url }}" style="margin-left: 85px;">
                    {{ lesson.operator.subLesson.nomal.text }}</div>
                <div class="paragraph" style="width:220px;height: 250px;margin-left: 240px;">
                    {{lines 9}}
                </div>-->
            </div>
        </div>

        <!-- Logic -->
        <div class="panelright">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ lesson.logic.text }}</p>
                <div class="list-question" id="listlogic">
                {{ listquestion questionLogic score}}
                </div>
                <!--<div target="/lesson/{{ lesson.logic.url }}/{{ lesson.logic.subLesson.easy.url }}"
                    class="postit postit-top-right bg-red canClick">{{ lesson.logic.subLesson.easy.text }}</div>
                <div class="paragraph" style="width:250px;height: 250px;margin-top: 50px;">
                    {{lines 11}}
                </div>
                <div target="/lesson/{{ lesson.logic.url }}/{{ lesson.logic.subLesson.nomal.url }}"
                    class="postit postit-bottom-left bg-nude canClick  {{locked passed lesson.logic.url lesson.logic.subLesson.easy.url }}">{{ lesson.logic.subLesson.nomal.text }}</div>
                <div class="paragraph" style="width:220px;height: 250px;margin-left: 240px;">
                    {{lines 12}}
                </div>-->
            </div>
        </div>
        
        <!-- Dicision -->
        <div class="panelleft">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ lesson.decision.text }}</p>
                <div target="/lesson/{{ lesson.decision.url }}/{{ lesson.decision.subLesson.coffee.url }}"
                    class="postit postit-top-left bg-light-green canClick {{locked passed lesson.logic.url lesson.logic.subLesson.hard.url }}">{{ lesson.decision.subLesson.coffee.text }}</div>
                <div class="paragraph" style="width:200px;height: 250px;margin-top: 50px;margin-left: 240px;">
                    {{lines 10}}
                </div>
                <div target="/lesson/{{ lesson.decision.url }}/{{ lesson.decision.subLesson.steak.url }}"
                    class="postit postit-bottom-right bg-blue canClick {{locked passed lesson.decision.url lesson.decision.subLesson.coffee.url }}">{{ lesson.decision.subLesson.steak.text }}</div>
                <div class="paragraph" style="width:180px;height: 250px;margin-left: 54.5px;">
                    {{lines 12}}
                </div>
            </div>
        </div>
        <div class="panelright">
            <div class="innerpage">
                <p class="lesson-title"></p>
                <div target="/lesson/{{ lesson.decision.url }}/{{ lesson.decision.subLesson.pasta.url }}"
                    class="postit postit postit-top-right bg-purple canClick {{locked passed lesson.decision.url lesson.decision.subLesson.steak.url }}">{{ lesson.decision.subLesson.pasta.text }}
                </div>
                <div class="paragraph" style="width:250px;height: 250px;margin-top: 50px;">
                    {{lines 11}}
                </div>
                <div target="/lesson/{{ lesson.decision.url }}/{{ lesson.decision.subLesson.decision_3.url }}"
                    class="postit postit-bottom-left bg-red canClick {{locked passed lesson.decision.url lesson.decision.subLesson.pasta.url }}">{{ lesson.decision.subLesson.decision_3.text }}</div>
                <div class="paragraph" style="width:220px;height: 250px;margin-left: 240px;">
                    {{lines 12}}
                </div>
            </div>
        </div>
        <!-- Loop -->
        
        <div class="panelleft">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ lesson.loop.text }}</p>
                <div target="/lesson/{{ lesson.loop.url }}/{{ lesson.loop.subLesson.smoothie.url }}"
                    class="postit postit-top-right bg-orange canClick postit-disable">{{ lesson.loop.subLesson.smoothie.text }}</div>
                <div class="paragraph" style="width:250px;height: 250px;margin-top: 50px;">
                    {{lines 11}}
                </div>
                <div target="/lesson/{{ lesson.loop.url }}/{{ lesson.loop.subLesson.dough.url }}"
                    class="postit postit-bottom-left bg-sky-blue canClick postit-disable">{{ lesson.loop.subLesson.dough.text }}</div>
                <div class="paragraph" style="width:220px;height: 250px;margin-left: 240px;">
                    {{lines 12}}
                </div>
            </div>
        </div>
        <div class="panelright">
            <div class="innerpage">
                <p class="lesson-title"></p>
                <div target="/lesson/{{ lesson.loop.url }}/{{ lesson.loop.subLesson.whipedCream.url }}"
                    class="postit postit-top-left bg-light-green canClick postit-disable">{{ lesson.loop.subLesson.whipedCream.text }}</div>
                <div class="paragraph" style="width:200px;height: 250px;margin-top: 50px;margin-left: 240px;">
                    {{lines 11}}
                </div>
                <div target="/lesson/{{ lesson.loop.url }}/{{ lesson.loop.subLesson.eclair.url }}"
                    class="postit postit-bottom-right bg-yellow canClick postit-disable">{{ lesson.loop.subLesson.eclair.text }}</div>
                <div class="paragraph" style="width:180px;height: 250px;margin-left: 54.5px;">
                    {{lines 11}}
                </div>
            </div>
        </div>
        
        <!-- Profile -->
        <div class="panelleft">
            <div class="innerpage">
                <p class="lesson-title noselect">{{ general.profile.text }}</p>
                <div class="postit postit-top-right bg-red" style="margin-top: -20px;"></div>
                <div class="paragraph" style="width:250px;height: 220px;margin-top: 50px;">
                    {{lines 11}}
                </div>
                <div class="paragraph row" guide="profile">
                    <div class="profile-icon noselect">{{substr user.displayName 0 1}}</div>
                    <div class="profile-content noselect">
                        <div class="display-name">{{ user.displayName }}</div>
                        <div>{{lessonUnlock lesson passed}} {{ general.profile.unlock.lesson }}</div>
                        <div>{{achievementUnlock achievementList unlock}} {{ general.profile.unlock.menu }}</div>
                    </div>
                </div>
                <div class="config-content noselect">
                    <div style="height: 80px;" guide="profile">
                        <button class="button-language" onclick="javascript:setLanguage('th')">th</button>
                        <button class="button-language" onclick="javascript:setLanguage('en')">en</button>
                    </div>
                    <button class="button-signout noselect" onclick="javascript:signOut()"
                        guide="profile">{{ general.button.signout }}</button>
                </div>
                <div class="paragraph" style="width:180px;height: 250px;margin-left: 280px;margin-top: -70px;">
                    {{lines 6}}
                </div>
            </div>
        </div>
        <!-- ACHIEVEMENT -->
        <div class="panelright">
            <div class="innerpage">
                <div class="menu-photo" guide="achievement">
                    <div id="menu-photo" style="width: 100%;height: 100%;"></div>
                </div>
                <div class="paragraph" style="width:160px;height: 230px;margin-top: 60px;margin-left: 280px;">
                    {{lines 11}}
                </div>
                <div guide="achievement">
                    <div class="menu-name noselect"></div>
                    <div class="menu-content noselect"></div>
                </div>
                <div class="menu" guide="achievement">
                    {{menublock achievementList unlock}}
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id='ListMenu' value="{{ListMenu}}">
<div class="panelindex">
    <ul>
        <li class="indexone" onclick="changePage(4)"></li>
        <li class="indextwo" onclick="changePage(6)"></li>
        <li class="indexthree" onclick="changePage(8)"></li>
        <li class="indexfour" onclick="changePage(10)"></li>
        <li class="indexfive" onclick="changePage(12)"></li>
        <li class="indexachievement" onclick="changePage(14)"></li>
    </ul>
</div>

<script type="text/javascript">
    const lang = Cookies.get('lang')
    console.log(lang);
    $(document).ready(function () {
        
        
        var url = new URL(window.location.href);
        var page = url.searchParams.get("page");
        if(typeof page != 'null'){
            $("#flipbook").turn("page", page);
        }

        let refUserInfo = firestore.collection("UserInfo");
        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
                refUserInfo.doc(user.uid).get().then(function(doc) {
                    if (doc.data().nickname == "") {
                        showSetName();
                    }
                });
            }
        });
        $(".avatarblock").on('click', function() {
            showAvatarModal();
        });

       console.log(JSON.parse($('#ListMenu').val()))
        $(".panelindex").hide();
        // $(".indexone").css("opacity","1");
        var page = '{{page}}';
        !isNaN(parseInt(page)) ? changePage(parseInt(page)) : '';

        $('.postit.canClick:not(.postit-disable)').click(function () {
            window.location.replace($(this).attr('target'));
        });

        $('.qs.canClick').click(function (){
            window.location.replace($(this).attr('target'));
        })

        // introLesson();
    });

    $("#flipbook").turn({
        width: 1000,
        height: 650,
        // turnCorners: "tl,tr",
        // autoCenter: true
    });
    $("#flipbook").css('margin-left', '500px').width('500px');

    $(window).bind('keydown', function (event) {
        if (event.keyCode == 37) {
            $("#flipbook").turn('previous');
        } else if (event.keyCode == 39) {
            $("#flipbook").turn('next');
        }
    });

    $("#flipbook").bind("turning", function (event, page, view) {
        if (page >= 2) {
            $("#flipbook").width('1000px').css('margin-left', '0px');
        }
    });

    $("#flipbook").bind("turned", function (event, page, view) {
        if (page == 1) {
            $("#flipbook").css('margin-left', '500px').width('500px');
        } else if (page >= 10) {
            $('.menu-block.canClick').click(function () {
                var target = $(this).attr('target');
                menuAnimetion(target);
            });
            if ($('#menu-photo').children().length == 0) {
                var target = $($('.menu-block:not(.question)')[0]).attr('target');
                !target ? target = 'question' : '';
                menuAnimetion(target);
            }
        }
        $('.postit.canClick:not(.postit-disable)').click(function () {
            window.location.replace($(this).attr('target'));
        });
    });

    function changePage(index) {
        $("#flipbook").turn("page", index);
    };

    function menuAnimetion(target) {
        // delete old data
        $('#menu-photo').empty();
        $('.menu-name').empty();
        $('.menu-content').empty();

        let path = baseUrl + '/assets/svg/' + achievementList[target].photo;
        let menuName = {
            strings: [achievementList[target].name],
            typeSpeed: 30,
            showCursor: false
        };
        let menuContent = {
            strings: [achievementList[target].description],
            typeSpeed: 5,
            showCursor: false
        };
        let animationSpeed = 2;
        let animationDuration = 600;

        let vivus = new Vivus('menu-photo', {
            file: path,
            onReady: function (myVivus) {
                // `el` property is the SVG element
                myVivus.el.setAttribute('height', '100%');
                myVivus.el.setAttribute('width', '100%');
                vivus.play(animationSpeed, function () {});
                $('#menu-photo>svg').each(function (index, obj) {
                    if (index != 0) {
                        $(obj).detach();
                    }
                });
            }
        });
        new Typed('.menu-name', menuName);
        new Typed('.menu-content', menuContent);
    }

    function introLesson() {
        $("#flipbook").turn("disable", true);
        var intro = introInstant([{
                intro: '{{intro.welcome}}'
            },
            {
                element: $('[guide="lesson"]')[0],
                intro: '{{intro.lesson}}'
            },
            {
                element: $('[guide="lesson"]')[1],
                intro: '{{breaklines intro.subLesson}}'
            }
        ]);
        intro.start()
            .oncomplete(function () {
                $("#flipbook").turn("disable", false);
                introProfile();
            })
            .onexit(function () {
                $("#flipbook").turn("disable", false);
            });
    }

    function introProfile() {
        changePage(10);
        var intro = introInstant([{
                element: $('[guide="profile"]')[0],
                intro: '{{intro.profile}}'
            },
            {
                element: $('[guide="profile"]')[1],
                intro: '{{intro.language}}'
            },
            {
                element: $('[guide="profile"]')[2],
                intro: '{{intro.signout}}'
            },
            {
                element: $('[guide="achievement"]')[0],
                intro: '{{intro.photo}}'
            },
            {
                element: $('[guide="achievement"]')[1],
                intro: '{{intro.menuInfo}}'
            },
            {
                element: $('[guide="achievement"]')[2],
                intro: '{{intro.achievement}}'
            }
        ]);
        setTimeout(function () {
            $("#flipbook").turn("disable", true);
            intro.start()
                .onexit(function () {
                    $("#flipbook").turn("disable", false);
                });
        }, 2000);
    }
</script>