@font-face {
    font-family: 'arial_rounded_mt_boldbold';
    src: url('./arlrdbd-webfont.woff2') format('woff2'),
         url('./arlrdbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
