<style>
    #target{
        overflow: auto;
    }
</style>

<body>
    <!--Panel Tool-->
    <div class="center-align panelTool">  
        <!-- ฺBasic -->
        <div class="noselect source sourceHeader activeSource" type="basic" style="background-color:#FF9D00;">
            Operator</div>
        <div id="source" class="connectedSource source sourcePanel activeSource noselect" type="basic">
            <div class="tab valign-wrapper" style="width:100%;padding-top: 15px">
            // 
            </div>
        </div>
        <!-- Type Process -->
        <div class="noselect source sourceHeader" type="process" style="display: none;background-color:#FF9D00;">
            Test Topic</div>
        <div id="source" class="connectedSource source noselect sourcePanel" type="process" style="display: none;">
            //
        </div>

        <!-- Question Area -->
        <div id="target" class="center-align connectedSource noselect targetPanel ui-widget-content" style="width: 70%;">
            <div style="padding: 0px 20px 20px 20px;">
                <p style="text-align: left;font-size: 18px;font-weight: bold;" >Question Name</p>
                <input id="questionInput" type="text" style="background-color: white;"/>
                <p style="text-align: left;font-size: 18px;font-weight: bold;" >Equation
                <button id="q_increase">+</button>
                <button id="q_decrease">-</button>
                </p>
                <div id="question_text" style="overflow: hidden;">
                    <input id="question_part1" type="text" style="background-color: white;width: 100px;"/>
                    &nbsp;[TARGET]&nbsp;
                    <input id="question_part2" type="text" style="background-color: white;width: 100px;"/>
                </div>
                <p style="text-align: left;font-size: 18px;font-weight: bold;" >
                    Answer (Only number or True False)
                </p>
                <input id="answer" type="text" style="background-color: white;width: 100px;"/>
                <p style="text-align: left;font-size: 18px;font-weight: bold;" >Level</p>
                <!-- Rating Stars Box -->
                <section class='rating-widget'>
                    <div class='rating-stars' style="text-align: left;">
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                    
                    <div>
                      <input type="text" id="ratingStar" value="0" hidden>
                    </div>
                </section>    
            </div>
        </div>
    </div>
    <!--Menu Icon-->
    <ul class="tabs">
        <li style="height: 80px;" class="tab">
            <div id="saveButton" class="canClick jellyButton button-tool">
                <div class="save-icon"></div>
            </div>
        </li>
        <li style="height: 90px;" class="tab">
            <div id="cancelButton" class="canClick jellyButton button-tool">
                <div class="cancel-icon"></div>
            </div>
        </li>

    </ul>
</body>

<script>
let refQuestion = firestore.collection("Logic");
let keyId = 0;
//save data to firebase 
function saveQuestion(logicQuestion, logicLevel, logicName, logicAnswer) {
    console.log("save...");
    let type = "operator";
    let arr = ["True","true","False","false"]
    if(logicAnswer.toLowerCase()=="true"||logicAnswer.toLowerCase()=="false"){
        type = "logic";
    }
    refQuestion.get().then(function(doc){
        keyId = doc.size + 1;
        //console.log("set("+keyId+")");
    }).then(function(){
        refQuestion.doc(keyId.toString()).set({
            Question: logicQuestion,
            Name: logicName,
            Answer: logicAnswer,
            Level : logicLevel,
            Type : type
        }).then(function(){
            showSaveStatus("Save Success!!");
        }).catch(err => {
            showSaveStatus("Error : "+err);
        });
    });
}


$(document).ready(function(){
    
    let question_partcount = 2; //question amount
    let target_count = 1;


    //add answer in question
    $('#q_increase').click(function(){
        question_partcount++;
        target_count++;
        var q_text = "&nbsp;[TARGET]&nbsp;<input id='question_part"+(question_partcount)+"' type='text' style='background-color: white;width: 100px;'/> ";        
        document.getElementById("question_text").innerHTML += q_text;   
    });
    //delete answer in question
    $('#q_decrease').click(function(){
        if(target_count > 1){
            question_partcount--;
            target_count--;
            var q_text_part = "<input id='question_part1' type='text' style='background-color: white;width: 100px;'/> "
            for(let i=1;i<=target_count;i++){
                var q_text = "&nbsp;[TARGET]&nbsp;<input id='question_part"+(i+1)+"' type='text' style='background-color: white;width: 100px;'/> ";        
                q_text_part += q_text;
            };
            document.getElementById("question_text").innerHTML = q_text_part;
        }
    });
    
    //save button click
    $('#saveButton').click(function(){
        //console.log("save data:");
        let logicName = document.getElementById("questionInput").value;
        let logicQuestion = document.getElementById("question_part1").value;
        let logicAnswer = document.getElementById("answer").value;
        let logicLevel = document.getElementById("ratingStar").value;
        //console.log(logicName);
        for(let x=2;x<=question_partcount;x++){
            logicQuestion = logicQuestion + " {target} " + document.getElementById("question_part"+x).value;
        }

        saveQuestion(logicQuestion,logicLevel,logicName,logicAnswer);
    });

    //Visualizing things on Hover
    $('#stars li').on('mouseover', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
        // highlight all the stars that's not after the current hovered star
        $(this).parent().children('li.star').each(function(e){
            if (e < onStar) {
                $(this).addClass('hover');
            }
            else {
                $(this).removeClass('hover');
            }
        });
    }).on('mouseout', function(){
        $(this).parent().children('li.star').each(function(e){
        $(this).removeClass('hover');
        });
    });
    //Action to perform on click
    $('#stars li').on('click', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently selected
        var stars = $(this).parent().children('li.star');
        
        for (i = 0; i < stars.length; i++) {
        $(stars[i]).removeClass('selected'); 
        }
        
        for (i = 0; i < onStar; i++) {
        $(stars[i]).addClass('selected');
        }
         
        // JUST RESPONSE (Not needed)
        var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
        //set input level
        document.getElementById("ratingStar").value = ratingValue;
        // console.log(ratingValue);
        // console.log(document.getElementById("ratingStar").value);
    });
});
</script>