<!DOCTYPE html>
<html>

<head>
<!-- include summernote css/js -->

<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
<link rel="stylesheet" href="/stylesheets/manage-diagram.css">

</head>
<body>
    <div class="dia-row">
        <div class="panel panel-default dia-12">
            <div class="panel-heading">{{addForm.form.panel.add.head}}</div>
            <div class="panel-body">
                <div class="dia-row">
                    <div class="panel panel-default dia-12">
                        <div class="panel-sub-heading">{{addForm.form.panel.add.info}}</div>
                        <div class="panel-body">
                            <div class="content-input dia-row">
                                <div class="dia-6" id="question1">
                                    <p class="input-name">{{addForm.form.questionNameEN.text}}</p>
                                    <input id="questionInputEng" type="text" style="width: 90%;" />
                                    <p id="validate_nameEN" style="text-align: left;" class="textValidate"></p>
                                </div>
                                <div class="dia-6" id="question2">
                                    <p class="input-name ">{{addForm.form.questionNameTH.text}}</p>
                                    <input id="questionInputTh" type="text" style="width: 90%;" />
                                    <p id="validate_nameTH" style="text-align: left;" class="textValidate"></p>
                                </div>

                            </div>
                            <div class="content-input dia-row">
                                <div class="dia-6" id="hint1">
                                    <p class="input-name">{{addForm.form.HintEn.text}}</p>
                                    <div id="HintEN"></div>
                                    <p id="validate_hintEN" style="text-align: left;" class="textValidate"></p>
                                </div>
                                <div class="dia-6" id="hint2">
                                    <p class="input-name">{{addForm.form.HintTh.text}}</p>
                                    <div id="HintTH" style="height: 200px;"></div>
                                    <p id="validate_hintTH" style="text-align: left;" class="textValidate"></p>
                                </div>

                            </div>
                            <div id="starLate">
                                <p class="input-name">{{addForm.form.level.text}}</p>
                                <!-- Rating Stars Box -->
                                <section class='rating-widget'>
                                    <div class='rating-stars' style="text-align: left;">
                                        <ul id='stars'>
                                            <li class='star' title='Poor' data-value='1'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Fair' data-value='2'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Good' data-value='3'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Excellent' data-value='4'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='WOW!!!' data-value='5'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <input type="text" id="ratingStar" value="0" hidden>
                                    </div>
                                    <div class='success-box'>
                                        <div class='clearfix'></div>
                                        <div class='text-message'></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dia-row">
                    <div class="panel panel-default dia-12">
                        <div class="panel-sub-heading">{{addForm.form.panel.add.answer}}</div>
                        <div class="panel-body">



                            <div style="padding: 0px 20px 20px 20px;text-align: left;" id="statement" class="dia-12">
                                <button class="button btn-add" style="width: auto;display:inline-block;" id="addAnswer"
                                    onclick="addAnswer()">
                                    <i class="fa fa-plus"></i> {{addForm.form.answer.text}}</button>
                                <table id="answerTable_1">
                                    <thead>
                                        <tr>
                                            <strong>
                                                <td style="width: 2%;font-size: 20px;font-weight: bold;">
                                                    {{addForm.form.table.step}}</td>
                                                <td
                                                    style="text-align: center;width: 35%;font-size: 20px;font-weight: bold;">
                                                    {{addForm.form.table.processEn}}</td>
                                                <td
                                                    style="text-align: center;width: 35%;font-size: 20px;font-weight: bold;">
                                                    {{addForm.form.table.processTh}}</td>
                                                <td
                                                    style="text-align: center;width: 15;font-size: 20px;font-weight: bold;">
                                                    {{addForm.form.table.type}}</td>
                                                <td
                                                    style="text-align: center;width: 13%;font-size: 20px;font-weight: bold;">
                                                </td>
                                            </strong>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="sort-disabled">
                                            <td class="order">1</td>
                                            <td><input type="text" style="width: 95%;" value="Start" id="processEn"
                                                    disabled>
                                            </td>
                                            <td><input type="text" style="width: 95%;" value="เริ่มต้น" id="processTh"
                                                    disabled>
                                            </td>
                                            <td>
                                                <select style="display: inline;" disabled id="type">
                                                    <option value="Basic" selected>Basic</option>
                                                    <option value="Input">Input</option>
                                                    <option value="Output">Output</option>
                                                    <option value="Process">Process</option>
                                                    <option value="Decision">Decision</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div style="text-align: center;" class="table-action">
                                                    <button class="book-button btn-add" id='addRow'
                                                        onclick="addProcess(this)"><i class="fa fa-plus"></i></button>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align: right;">
                <button id="saveButton" class="button btn-save">{{general.button.save}}</button>
            </div>
        </div>
    </div>
</body>
<script>
    var countTable = 1;
    var countID = ["answerTable_1"];
    $(document).ready(function () {
        $('#HintEN').summernote({ height: 200 ,tooltip: false});
        $('#HintTH').summernote({ height: 200 ,tooltip: false});
        console.log(/^([ก-ฮ])$/.test($("#questionInputEng").val())); // false
        $('#answerTable_1').on('click', '.btn-remove-tr', function (e) {

            e.preventDefault();

            if ($('#answerTable_1 tr').length > 1) {
                $(this).closest('tr').remove();

                $('#answerTable_1 td.order').text(function (i) {
                    return i + 1;
                });
            }
            return false;
        });

        $('tbody').sortable({
            items: ">*:not(.sort-disabled)",
            stop: function (event, ui) {
                $(this).find('tr').each(function (i) {
                    $(this).find('td:first').text(i + 1);
                });
            }
        });
        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            document.getElementById("ratingStar").value = ratingValue;
            console.log(ratingValue);
        });

    });


    /* 
    Add process in flowchart in row table 
    
    */
    function addProcess(rows) {
        rowAdd = $(rows).closest('table tr').length + 1;
        tableID = $(rows).closest('table').attr('id')
        var table = document.getElementById(tableID);
        var row = table.insertRow(rowAdd);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        cell1.className = "order"
        cell1.innerHTML = rowAdd;
        cell2.innerHTML = "<input type='text' style='width: 95%;' id='processEn'>";
        cell3.innerHTML = "<input type='text' style='width: 95%;' id='processTh'>";
        cell4.innerHTML = "<select style='display: inline;' id='type'>" +
            "<option value='0' selected>{{addForm.form.select.text}}</option>" +
            "<option value='Basic'>Basic</option>" +
            "<option value='Input'>Input</option>" +
            "<option value='Output'>Output</option>" +
            "<option value='Process'>Process</option>" +
            "<option value='Decision' disabled>Decision</option>" +
            "</select>";
        cell5.innerHTML = "<div style='overflow:inline;text-align:center;' class='table-action'><button id='addRow' style='padding:5px;' class='book-button btn-add' onclick='addProcess(this)'><i class='fa fa-plus'></i>" +
            "</button><button id='deleteRow' class='book-button btn-delete' onclick='removeProcess(this)' style='margin-left:5px;'><i class='fa fa-minus'></button></div>";

        $('#' + tableID + ' td.order').text(function (i) {
            return i + 1;
        });

    }
    // Remove Process in flowchart
    function removeProcess(rows) {
        console.log("Delete", rows);
        tableID = $(rows).closest('table').attr('id')
        var table = document.getElementById(tableID);
        //var row;
        console.log("Delete", $("#" + tableID + ' tr').length);
        if ($("#" + tableID + ' tr').length > 1) {
            $(rows).closest('tr').remove();

            $('#' + tableID + ' td.order').text(function (i) {
                return i + 1;
            });
        }
    }

    //clone table

    function addAnswer() {
        myTable = document.getElementsByTagName("table")[0];
        myHeadClone = "<div><hr style='border:0px;'><button id='deleteAnswer' class='button btn-delete' onclick='removeAnswer(answerTable_" + ++countTable + ",this)'>" +
            "<i class='fa fa-minus'></i> {{addForm.form.answer.text}}</button></div>";
        myTableClone = myTable.cloneNode(true);
        myTableClone.id = "answerTable_" + countTable;
        countID.push("answerTable_" + countTable)
        console.log("ID", countTable, countID)
        $("#statement").append(myHeadClone);
        $("#statement").append(myTableClone);
        $('tbody').sortable({
            items: ">*:not(.sort-disabled)",
            stop: function (event, ui) {
                $(this).find('tr').each(function (i) {
                    $(this).find('td:first').text(i + 1);
                });
            }
        });
    }

    //delete clone table

    function removeAnswer(table_ID, thisID) {
        console.log(table_ID);
        thisID.remove()
        table_ID.remove()
    }

    $('#saveButton').click(function () {

        if (validateQuestion()) {
            console.log("Count", countTable);
            var dataProcessEn = [];
            var dataProcessTh = [];
            var dataType = [];
            var dataAnswer = [];
            let data;
            let diagramNameEn = $("#questionInputEng").val();
            let diagramHintEn = $('#HintEN').summernote('code');
            console.log("LOG HINTEN : ", diagramHintEn);
            let diagramNameTh = $("#questionInputTh").val();
            let diagramHintTh = $('#HintTH').summernote('code');
            console.log("LOG HINTTH : ", diagramHintTh);
            let diagramLevel = document.getElementById("ratingStar").value;
            for (let index = 0; index < countTable; index++) {
                var dataDiagram = [];
                var dataProcessEn = [];
                var dataProcessTh = [];
                var dataType = [];
                console.log("ID", countID[index]);
                $('table[id="' + countID[index] + '"] input[id="processEn"]').each(function (i, elem) {
                    dataProcessEn.push($(elem).val());
                });
                $('table[id="' + countID[index] + '"] input[id="processTh"]').each(function (i, elem) {
                    dataProcessTh.push($(elem).val());
                });
                $('table[id="' + countID[index] + '"] select[id="type"]').each(function (i, elem) {
                    dataType.push($(elem).val());
                });
                for (let i = 0; i < dataProcessEn.length; i++) {
                    data = { processEn: dataProcessEn[i], processTh: dataProcessTh[i], type: dataType[i], sequence: i + 1 };
                    dataDiagram.push(data);
                }
                dataAnswer.push(dataDiagram)

            }

            saveQuestion(dataAnswer, diagramNameEn, diagramNameTh, diagramHintEn, diagramHintTh, diagramLevel)
        }

    });

    /*
    validate question
    */
    function validateQuestion() {
        var eng = /^([ก-ฮ])+$/; // validate input a-z A-Z 0-9
        //var thai = /^([ก-๙ 0-9])+$/;
        var check = true;
        if ((eng.test($("#questionInputEng").val())) || $("#questionInputEng").val() == "") {
            $("#questionInputEng").addClass("redBorder");
            $("#validate_nameEN").text("{{addForm.form.questionNameEN.required}}");
            check = false;
        } else {
            $("#questionInputEng").removeClass("redBorder");
            $("#validate_nameEN").text("");
        }

        if ($("#questionInputTh").val() == "") {
            $("#questionInputTh").addClass("redBorder");
            $("#validate_nameTH").text("{{addForm.form.questionNameTH.required}}");
            check = false;
        } else {
            $("#questionInputTh").removeClass("redBorder");
            $("#validate_nameTH").text("");
        }

        for (let index = 0; index < countTable; index++) {
            $('table[id="' + countID[index] + '"] input[id="processEn"]').each(function (i, elem) {

                if ($(elem).val() == "") {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
            $('table[id="' + countID[index] + '"] input[id="processTh"]').each(function (i, elem) {
                if ($(elem).val() == "") {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
            $('table[id="' + countID[index] + '"] select[id="type"]').each(function (i, elem) {
                if ($(elem).val() == 0) {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
        }
        if (check) {
            return true;
        } else {
            return false;
        }
    }

    var refQuestion = firestore.collection("Diagram");
    var keyId = 0;
    //save data to firebase

    function saveQuestion(dataAnswer, diagramNameEn, diagramNameTh, diagramHintEn, diagramHintTh, diagramLevel) {
        console.log("save...");
        console.log("Diagram", dataAnswer);
        console.log("Name", diagramNameEn, diagramNameTh);
        console.log("Hint", diagramHintEn, diagramHintTh);
        console.log("Star", diagramLevel);
        //showLoading();
        refQuestion.get().then(function (doc) {
            keyId = parseInt(doc.docs[doc.size - 1].id) + 1;
            console.log("set(" + keyId + ")");
        }).then(function () {
            refQuestion.doc(keyId.toString()).set({
                NameEN: diagramNameEn,
                NameTH: diagramNameTh,
                HintEN: diagramHintEn,
                HintTH: diagramHintTh,
                Level: diagramLevel
            }).then(function () {
                for (let index = 1; index <= dataAnswer.length; index++) {
                    refQuestion.doc(keyId.toString()).collection("answer").doc(index.toString()).set({
                        answerStep: dataAnswer[index - 1]
                    })
                }
                showSaveStatus();
            }).catch(err => {

            });
        });
    }
</script>