<style>
    #target {
        overflow: auto;
    }

    #question1 {
        display: inline-block;
    }

    #question2 {
        display: inline-block;
    }

    #hint1 {
        display: inline-block;
    }

    #hint2 {
        display: inline-block;
    }

    textarea {

        resize: vertical;
    }

    .inputC,
    #questionInputEng,
    #questionInputTh,
    #processTh,
    #processEn,
    #type {
        border: solid 4px #000000;
        background-color: #FFFFFF;
        padding-left: 5px;
        border-radius: 10px;
    }

    .panelQuestion {
        overflow: auto;
        width: 95%;
        padding-bottom: 2%;
    }



    .book-button {
        width: 50px;
        height: 50px;
        font-family: 'Mali', cursive;
        font-size: 20px;
        border-radius: 12px;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.16);
        border: solid 5px #000000;
    }

    .add-button {
        width: 150px;
        height: 50px;
        font-family: 'Mali', cursive;
        font-size: 20px;
        border-radius: 12px;
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.16);
        border: solid 5px #000000;
    }


    .book-button.google-button {
        color: #FFFFFF;
        background-color: #cf4332;
    }

    .book-button.facebook-button {
        color: #FFFFFF;
        background-color: #3a5892;
    }

    .add-button.facebook-button {
        color: #FFFFFF;
        background-color: #3a5892;
    }

    .add-button.google-button {
        color: #FFFFFF;
        background-color: #cf4332;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>


    <!--Panel Tool-->
    <div class="center-align panelToolAdd panelQuestion">
        <!-- ฺBasic -->
        <!-- Question Area -->
        <div id="target" style="background-color: aquamarine;">
            <div style="padding: 0px 20px 20px 20px;text-align: left;">
                <div style="width: 48%;" id="question1">
                    <p style="text-align: left;font-size: 18px;font-weight: bold;">Question Name (Eng)</p>
                    <input id="questionInputEng" type="text" class="inputC" value="{{NameEn}}" />
                </div>
                <div style="width: 49%;padding-left: 1%;" id="question2">
                    <p style="text-align: left;font-size: 18px;font-weight: bold;">Question Name (Thai)</p>
                    <input id="questionInputTh" type="text" class="inputC" value="{{NameTh}}" />
                </div>
                <div style="width: 49%;" id="hint1">
                    <p style="text-align: left;font-size: 18px;font-weight: bold;">Hint (Eng)</p>
                    <textarea id="hintInputEng" class="inputC" style="height: 220px;">{{HintEn}}</textarea>
                </div>
                <div style="width: 49%;" id="hint2">
                    <p style="text-align: left;font-size: 18px;font-weight: bold;">Hint (Thai)</p>
                    <textarea id="hintInputTh" class="inputC" style="height: 220px;">{{HintTh}}</textarea>
                </div>
                <div style="width: 49%;" id="starLate">
                    <p style="text-align: left;font-size: 18px;font-weight: bold;">Difficult</p>
                    <!-- Rating Stars Box -->
                    <section class='rating-widget'>
                        <div class='rating-stars' style="text-align: left;">
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1' id="level1">
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2' id="level2">
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3' id="level3">
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4' id="level4">
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5' id="level5">
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <input type="text" id="ratingStar" value="{{ level }}" hidden>
                        </div>
                    </section>
                </div>

            </div>
            <div style="padding: 0px 20px 20px 20px;text-align: left;">
                <p style="text-align: center;font-size: 20px;font-weight: bold;">Pseudo Code</p>

                <button class="add-button facebook-button" onclick="addAnswer()">
                    <i class="fa fa-plus"></i> Answer</button>

            </div>
            <div style="padding: 0px 20px 20px 20px;text-align: left;" id="statement">
                <table id="answerTable_1" frame="box">
                    <thead>
                        <tr>
                            <strong>
                                <td style="width: 2%;font-size: 20px;font-weight: bold;">Step</td>
                                <td style="text-align: center;width: 39%;font-size: 20px;font-weight: bold;">Process
                                    (Eng)</td>
                                <td style="text-align: center;width: 39%;font-size: 20px;font-weight: bold;">Process
                                    (Thai)</td>
                                <td style="text-align: center;width: 10%;font-size: 20px;font-weight: bold;">Type</td>
                                <td style="text-align: center;width: 10%;font-size: 20px;font-weight: bold;"></td>
                            </strong>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="sort-disabled">
                            <td class="order">1</td>
                            <td><input type="text" style="width: 95%;" value="Start" id="processEn" disabled>
                            </td>
                            <td><input type="text" style="width: 95%;" value="เริ่มต้น" id="processTh" disabled>
                            </td>
                            <td>
                                <select style="display: inline;" disabled id="type">
                                    <option value="Basic" selected>Basic</option>
                                    <option value="Input">Input</option>
                                    <option value="Output">Output</option>
                                    <option value="Process">Process</option>
                                    <option value="Decision">Decision</option>
                                </select>
                            </td>
                            <td>
                                <div style="text-align: center;">
                                    <button class="book-button facebook-button" onclick="addProcess(this)"><i
                                            class="fa fa-plus"></i></button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    <!--Menu Icon-->
    <ul class="tabs">
        <li style="height: 80px;" class="tab">
            <div id="saveButton" class="canClick jellyButton button-tool">
                <div class="save-icon"></div>
            </div>
        </li>
        <li style="height: 90px;" class="tab">
            <div id="cancelButton" class="canClick jellyButton button-tool">
                <div class="cancel-icon"></div>
            </div>
        </li>

    </ul>
</body>

<script>

    var countTable = 1;
    var countID = ["answerTable_1"];
    $(document).ready(function () {
        console.log(/^([a-z0-9])$/.test($("#questionInputEng").val())); // false
        //set star level
        console.log("rate", "{{level}}");
        for (let l = 1; l <= "{{level}}"; l++) {
            $("#level" + l).addClass('selected');
        }
        $('#answerTable_1').on('click', '.btn-remove-tr', function (e) {

            e.preventDefault();

            if ($('#answerTable_1 tr').length > 1) {
                $(this).closest('tr').remove();

                $('#answerTable_1 td.order').text(function (i) {
                    return i + 1;
                });
            }
            return false;
        });

        $('tbody').sortable({
            items: ">*:not(.sort-disabled)",
            stop: function (event, ui) {
                $(this).find('tr').each(function (i) {
                    $(this).find('td:first').text(i + 1);
                });
            }
        });
        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            document.getElementById("ratingStar").value = ratingValue;
            console.log(ratingValue);
        });

    });


    /* 
    Add process in flowchart in row table 
    
    */
    function addProcess(rows) {
        rowAdd = $(rows).closest('table tr').length + 1;
        tableID = $(rows).closest('table').attr('id')
        var table = document.getElementById(tableID);
        var row = table.insertRow(rowAdd);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        cell1.className = "order"
        cell1.innerHTML = rowAdd;
        cell2.innerHTML = "<input type='text' style='width: 95%;' id='processEn'>";
        cell3.innerHTML = "<input type='text' style='width: 95%;' id='processTh'>";
        cell4.innerHTML = "<select style='display: inline;' id='type'>" +
            "<option value='0' selected>-- Select --</option>" +
            "<option value='Basic'>Basic</option>" +
            "<option value='Input'>Input</option>" +
            "<option value='Output'>Output</option>" +
            "<option value='Process'>Process</option>" +
            "<option value='Decision' disabled>Decision</option>" +
            "</select>";
        cell5.innerHTML = "<div style='overflow:inline;text-align:center;'><button style='padding:5px;' class='book-button facebook-button' onclick='addProcess(this)'><i class='fa fa-plus'></i></button><button class='book-button google-button' onclick='removeProcess(this)'><i class='fa fa-close'></button></div>";

        $('#' + tableID + ' td.order').text(function (i) {
            return i + 1;
        });

    }
    // Remove Process in flowchart
    function removeProcess(rows) {
        console.log("Delete", rows);
        tableID = $(rows).closest('table').attr('id')
        var table = document.getElementById(tableID);
        //var row;
        console.log("Delete", $("#" + tableID + ' tr').length);
        if ($("#" + tableID + ' tr').length > 1) {
            $(rows).closest('tr').remove();

            $('#' + tableID + ' td.order').text(function (i) {
                return i + 1;
            });
        }
    }

    //clone table

    function addAnswer() {
        myTable = document.getElementsByTagName("table")[0];
        myHeadClone = "<div><hr style='border:0px;'><button class='add-button google-button' onclick='removeAnswer(answerTable_" + ++countTable + ",this)'>" +
            "<i class='fa fa-close'></i> Answer</button></div>";
        myTableClone = myTable.cloneNode(true);
        myTableClone.id = "answerTable_" + countTable;
        countID.push("answerTable_" + countTable)
        console.log("ID", countTable, countID)
        $("#statement").append(myHeadClone);
        $("#statement").append(myTableClone);
        $('tbody').sortable({
            items: ">*:not(.sort-disabled)",
            stop: function (event, ui) {
                $(this).find('tr').each(function (i) {
                    $(this).find('td:first').text(i + 1);
                });
            }
        });
    }

    //delete clone table

    function removeAnswer(table_ID, thisID) {
        console.log(table_ID);
        thisID.remove()
        table_ID.remove()
    }

    $('#saveButton').click(function () {
        if (validateQuestion()) {
            console.log("Count", countTable);
            var dataProcessEn = [];
            var dataProcessTh = [];
            var dataType = [];
            var dataAnswer = [];
            let data;
            let diagramNameEn = $("#questionInputEng").val();
            let diagramHintEn = $("#hintInputEng").val();
            let diagramNameTh = $("#questionInputTh").val();
            let diagramHintTh = $("#hintInputTh").val();
            let diagramLevel = document.getElementById("ratingStar").value;
            for (let index = 0; index < countTable; index++) {
                var dataDiagram = [];
                var dataProcessEn = [];
                var dataProcessTh = [];
                var dataType = [];
                console.log("ID", countID[index]);
                $('table[id="' + countID[index] + '"] input[id="processEn"]').each(function (i, elem) {
                    dataProcessEn.push($(elem).val());
                });
                $('table[id="' + countID[index] + '"] input[id="processTh"]').each(function (i, elem) {
                    dataProcessTh.push($(elem).val());
                });
                $('table[id="' + countID[index] + '"] select[id="type"]').each(function (i, elem) {
                    dataType.push($(elem).val());
                });
                for (let i = 0; i < dataProcessEn.length; i++) {
                    data = { processEn: dataProcessEn[i], processTh: dataProcessTh[i], type: dataType[i], sequence: i + 1 };
                    dataDiagram.push(data);
                }
                dataAnswer.push(dataDiagram)

            }

            saveQuestion(dataAnswer, diagramNameEn, diagramNameTh, diagramHintEn, diagramHintTh, diagramLevel)
        }

    });

    /*
    validate question
    */
    function validateQuestion() {
        var eng = /^([a-zA-Z0-9 ])+$/; // validate input a-z A-Z 0-9
        //var thai = /^([ก-๙ 0-9])+$/;
        var check = true;
        if (!(eng.test($("#questionInputEng").val())) || $("#questionInputEng").val() == "") {
            $("#questionInputEng").addClass("redBorder");
            check = false;
        } else {
            $("#questionInputEng").removeClass("redBorder");
        }
        if (!(eng.test($("#hintInputEng").val())) || $("#hintInputEng").val() == "") {
            $("#hintInputEng").addClass("redBorder");
            check = false;
        } else {
            $("#hintInputEng").removeClass("redBorder");
        }
        if ($("#questionInputTh").val() == "") {
            $("#questionInputTh").addClass("redBorder");
            check = false;
        } else {
            $("#questionInputTh").removeClass("redBorder");
        }
        if ($("#hintInputTh").val() == "") {
            $("#hintInputTh").addClass("redBorder");
            check = false;
        } else {
            $("#hintInputTh").removeClass("redBorder");
        }
        for (let index = 0; index < countTable; index++) {
            $('table[id="' + countID[index] + '"] input[id="processEn"]').each(function (i, elem) {

                if ($(elem).val() == "") {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
            $('table[id="' + countID[index] + '"] input[id="processTh"]').each(function (i, elem) {
                if ($(elem).val() == "") {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
            $('table[id="' + countID[index] + '"] select[id="type"]').each(function (i, elem) {
                if ($(elem).val() == 0) {
                    $(elem).addClass("redBorder");
                    check = false;
                } else {
                    $(elem).removeClass("redBorder");
                }
            });
        }
        if (check) {
            return true;
        } else {
            return false;
        }
    }

    let refQuestion = firestore.collection("Diagram");
    let keyId = 0;
    //save data to firebase 
    function saveQuestion(dataAnswer, diagramNameEn, diagramNameTh, diagramHintEn, diagramHintTh, diagramLevel) {
        console.log("save...");
        console.log("Diagram", dataAnswer);
        console.log("Name", diagramNameEn, diagramNameTh);
        console.log("Hint", diagramHintEn, diagramHintTh);
        console.log("Star", diagramLevel);

        refQuestion.get().then(function (doc) {
            keyId = doc.size + 1;
            console.log("set(" + keyId + ")");
        }).then(function () {
            refQuestion.doc(keyId.toString()).set({
                NameEng: diagramNameEn,
                NameTh: diagramNameTh,
                HintEng: diagramHintEn,
                HintTh: diagramHintTh,
                Level: diagramLevel
            }).then(function () {
                for (let index = 1; index <= dataAnswer.length; index++) {
                    refQuestion.doc(keyId.toString()).collection("answer").doc(index.toString()).set({
                        answerStep: dataAnswer[index - 1]
                    })
                }
                showSaveStatus("Save Success!!");
            }).catch(err => {
                showSaveStatus("Error : " + err);
            });
        });
    }
</script>